@using System.Security.Cryptography;
@using System.Text;
@using System.Web;
@using Microsoft.AspNetCore.Mvc

@model List<qqqq.ViewModels.CShoppingCart>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container text-center">
    @{
        string time = DateTime.Now.ToString("yyyy/MM/dd") + " " + @DateTime.Now.ToString("HH:mm:ss");
        int price = 60;
        string net = $"{ViewBag.Scheme}://{ViewBag.Host}/shopping/shopping";
        string item = "運費 60元";
        foreach (var p in Model)
        {
            if (p.CartPay == true)
            {
                item += $"#{p.CartName} {p.CartPrice.ToString("0")}元×{p.CartCount}={p.TotalPrice.ToString("0")}元";
                price += (int)(p.CartPrice * p.CartCount);
            }
            if (p.DonatePay == true)
            {
                item += $"#{p.CartName} {p.CartPrice.ToString("0")}元×{p.Donate}={p.DonatePrice.ToString("0")}元(捐贈)";
                price += (int)(p.CartPrice * p.Donate);
            }
        }
    }
    <form id="formWebATM" method="post" accept-charset="UTF-8"
          action="https://payment-stage.opay.tw/Cashier/AioCheckOut/V5" hidden>

        MerchantID 商店代號:
        <input type="text" name="MerchantID" value="2000132" /><br />
        MerchantTradeNo 商店交易編號:
        @{string randomNumber = Guid.NewGuid().ToString();
            string TradeNo = "DX";
            TradeNo += randomNumber.Substring(0, 21).Replace("-", "");
        }
        <input type="text" name="MerchantTradeNo" value="@TradeNo" /><br />
        MerchantTradeDate 商店交易時間:
        <input type="text" name="MerchantTradeDate" value="@time" /><br />
        PaymentType 交易類型:
        <input type="text" name="PaymentType" value="aio" /><br />
        TotalAmount 交易金額:
        <input type="text" name="TotalAmount" value="@price" /><br />
        TradeDesc 交易描述:
        <input type="text" name="TradeDesc" value="建立TopUpUsed測試訂單" /><br />
        ItemName 商品名稱:
        <input type="text" name="ItemName" value="@item" /><br />
        ReturnURL 付款完成通知回傳網址:
        <input type="text" name="ReturnURL" value="@net" /><br />
        ChoosePayment 預設付款方式:
        <input type="text" name="ChoosePayment" value="TopUpUsed" /><br />
        會員商店代碼:
        <input type="text" name="StoreID" value="" /><br />
        ClientBackURL Client端返回廠商網址:
        <input type="text" name="ClientBackURL" value="@net" /><br />
        CheckMacValue 簽章類型:
        <input type="text" name="EncryptType" value="1" /><br />
        CheckMacValue 檢查碼:
        @{
     
            string value = "HashKey=5294y06JbISpM5x9&ChoosePayment=TopUpUsed&ClientBackURL=" + net + "&EncryptType=1&ItemName=" + item + "&MerchantID=2000132&MerchantTradeDate=" + time + "&MerchantTradeNo=" + TradeNo + "&PaymentType=aio&ReturnURL=" + net + "&StoreID=&TotalAmount=" + price + "&TradeDesc=建立TopUpUsed測試訂單&HashIV=v77hoKGq4kWxNNIS";

            string codeValue = HttpUtility.UrlEncode(value, Encoding.Default);

            codeValue = codeValue.ToLower();
            Write(codeValue);
            using var hashCode = SHA256.Create();
            var byteVAlue = hashCode.ComputeHash(Encoding.UTF8.GetBytes(codeValue));
            string resultValue = Convert.ToHexString(byteVAlue).ToUpper();
            Write("\n" + resultValue);
            //https://developers.opay.tw/AioTopUpUsed/CreateOrder


        }

        <input type="text" name="CheckMacValue" value="@resultValue" /><br />
        <input type="submit" value="送出訂單" />

    </form>
    <img src="~/Images/run.gif" />
</div>
@section scripts{
    <script>
        goAllPay();
        function goAllPay() {
            $.post("@Url.Content("~/shopping/cleanCart")", {}, function () {

                $("#formWebATM").submit();
            })

        }

    </script>
}