@model List<qqqq.ViewModels.CShoppingCart>
<h1>購物車</h1>

<p>
    <a class="btn btn-primary" asp-action="Shopping">前往產品列表</a>
</p>
<form action="@Url.Action("Pay", "shopping")" enctype="multipart/form-data" method="post">
    <table class="table  ">
        <thead>
            <tr>
                <th hidden>
                    @Html.DisplayNameFor(model => model[0].CartId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].CartPay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].CartPhoto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].CartName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].CartPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].CartCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].TotalPrice)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="6">
                                        <h3>
                                            購物車尚無商品
                                            <a href="~/shopping/shopping" class="btn-primary p-2" style="color:#fff;border-radius:10px;"><i class="fa-solid fa-circle-right">前去購物</i></a>
                                        </h3>
                            <h5> </h5>
                        </td>
                    </tr>
                }
            }
            @for(int i=0;i<Model.Count();i++)
            {
                if (Model[i].CartCount != 0)
                {
                    <tr>
                        <td hidden>
                            @Html.DisplayFor(item => item[i].CartId)
                            @Html.HiddenFor(item => item[i].CartId)
                        </td>
                        <td>
                            @Html.CheckBoxFor(item => item[i].CartPay, new { @class = "chk" })

                            @*<input type="checkbox" value="@item[i].CartPay" class="check" />*@
                        </td>
                        <td>
                            <img width="100" height="100" src="~/Images/@Model[i].CartPhoto" />
                        </td>
                        <td>
                            @Html.DisplayFor(item => item[i].CartName)
                        </td>
                        <td>
                            @Html.DisplayFor(item => item[i].CartPrice)
                        </td>
                        <td>
                            @Html.TextBoxFor(item => item[i].CartCount, new { @min = "1", @type = "number", @onchange = $"ChangeItemCount('{Model[i].CartId}',this.value,false)" })
                            @*<input type="number" min="1" value="@item[i].CartCount" onchange="ChangeItemCount('@item[i].CartId',this.value,false)" />*@
                        </td>
                        <td>
                            @Html.DisplayFor(item => item[i].TotalPrice)
                        </td>
                        <td>

                            <button class="btn btn-warning"><i class="fa-regular fa-eye"></i>@Html.ActionLink("檢視商品", "showproduct", new { id = Model[i].CartId })</button> |
                            <button class="btn btn-danger"type="button"  onclick="ChangeItemCount('@Model[i].CartId',0,false)"><i class="fa-solid fa-trash-can"></i> 刪除</button>
                        </td>
                    </tr>
                }
                if (Model[i].Donate != 0)
                {

                    <tr>
                        <td hidden>

                            @Html.HiddenFor(item => item[i].CartId)
                        </td>
                        <td>
                            @Html.CheckBoxFor(item => item[i].DonatePay, new { @class = "chk" })
                            @*<input type="checkbox" name="" value="@item[i].DonatePay" id="check" />*@
                        </td>
                        <td>
                            <img width="100" height="100" src="~/Images/@Model[i].CartPhoto" />
                        </td>
                        <td>
                            @Html.DisplayFor(item => item[i].CartName)
                            <label class="alert-danger"><i class="fa-solid fa-hand-holding-heart">捐贈</i></label>
                        </td>
                        <td>
                            @Html.DisplayFor(item => item[i].CartPrice)
                        </td>
                        <td>
                            @Html.TextBoxFor(item => item[i].Donate, new { @min = "1", @type = "number", @onchange = $"ChangeItemCount('{Model[i].CartId}',this.value,true)" })

                            @*<input type="number" min="1" value="@item[i].Donate" onchange="ChangeItemCount('@item[i].CartId',this.value,true )" />*@
                        </td>
                        <td>
                            @Html.DisplayFor(item => item[i].DonatePrice)
                        </td>
                        <td>

                            <label class="btn btn-warning"><i class="fa-regular fa-eye"></i>@Html.ActionLink("檢視商品", "showproduct", new { id = Model[i].CartId })</label> |
                            <button class="btn btn-danger"type="button" onclick="ChangeItemCount('@Model[i].CartId',0,true)"><i class="fa-solid fa-trash-can"></i> 刪除</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-center "><h5>總價:@(Model.Sum(p => p.TotalPrice) + Model.Sum(p => p.DonatePrice))</h5></td>

                <td>
                    @if (Model.Count() != 0)
                    {
                        <button class="btn btn-success" type="submit">結帳</button>
                        @*<a>   @Html.ActionLink("結帳", "Pay", "shopping", new { price = (int)Model.Sum(p => p.TotalPrice) }, new { onclick = "return confirm('確定要結帳嗎?')", @class = "btn btn-success", disabled = "true" })</a>*@
                    }
                    else
                    {
                        <button class="btn btn-success" type="button">結帳</button>
                        @*<a>   @Html.ActionLink("結帳", "Pay", "shopping", new { price = (int)Model.Sum(p => p.TotalPrice) }, new { onclick = "return confirm('確定要結帳嗎?')", @class = "btn btn-success", disabled = "true" })</a>*@
                    }
                </td>


            </tr>
        </tfoot>
    </table>

</form>