
@model IEnumerable<qqqq.ViewModels.CProductShow>

@{
    ViewData["Title"] = "List";
}



<h4>共 @Model.Count() 筆</h4>
<table class="table ">

    <tbody>

        @{ if (Model.Count() == 0)
            {
                <tr>
                    <td>
                        <h2>找不到符合條件之商品</h2>
                    </td>
                </tr>

            }
            else
            {
                foreach (var item in Model)
                {



                    <tr class="align-center">

                        <td>
                            @{ if (item.Photos.Count == 0)
                                {
                                    <img src="/Images/notfound.jpg" width="120" height="120" />
                                }
                                else
                                {
                                    <img src="/Images/@item.Photos.FirstOrDefault(p => p.IsDefault == true).PictureName" width="120" height="120" />
                                }
                            }

                        </td>
                        <td>
                            <h4> @Html.DisplayFor(modelItem => item.ProductName)</h4>
                            <div>
                                <img src="~/Images/6092_bookmark_favorite_rate_star_icon.png" width="25" height="25" /> <b class="fs-20">
                                    @{string s = "0"; if (item.product.MemberComments.Count() != 0)
                                        {
                                            s = ((double)item.product.MemberComments.Average(p => p.Grade)).ToString("0.0");
                                        }
                                    }
                                    @s
                                </b>
                            </div>
                        </td>
                
                        <td>
                            <h5>  @Html.DisplayFor(modelItem => item.Price)</h5>
                        </td>                    
                        <td>
                            庫存:  @Html.DisplayFor(modelItem => item.UnitsInStock)
                        </td>
                        <td>
                            <button id="favorite" onclick="addFavorite(@item.ProductId)" class="btn btn-info">
                                <b >加入收藏</b>
                            </button>
                            <button id="addToCart" class="btn btn-warning">
                                @Html.ActionLink("查看產品", "showproduct", new { id = item.ProductId })
                       
                            </button>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>

</table>

