<div class="container-fluid  py-6 wow fadeIn" data-wow-delay="0.1s" style=" margin-bottom: 6rem; background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),url(../img/head-5.jpg) center center no-repeat; background-size: cover;">
    <div class="container text-center pt-5 pb-3">
        <h1 class="display-4 text-white animated slideInDown mb-3">購物商城</h1>
    </div>
</div>
@model List<Category>

@{
    ViewData["Title"] = "List";
}

@*<div class="col-12 align-center">*@
<!-- Start Filter Bar -->

    <div class="filter-bar d-flex flex-wrap align-items-center text-center">
        <div class="text-center ">

            <select class="sorting mr-auto" style="margin-left: 10px; margin-right: 10px;" name="Category">
                @foreach (Category cator in Model)
                {
                    <option value="@cator.CategoryId">@cator.CategoryName</option>
                }
            </select>
        </div>
        <div>
            <select class="sorting mr-auto" style="margin-left: 10px; margin-right:10px;" name="SubCategory" id="selectSub">
                @foreach (Category cator in Model)
                {
                    foreach (SubCategory subCat in cator.SubCategories.ToList())
                    {
                        <option value="@subCat.SubCategoryId">@subCat.SubCategoryName</option>
                    }
                }
            </select>
        </div>
        <div>
            <div class="input-group filter-bar-search">
                <input type="text" placeholder="輸入關鍵字" name="Keyword">
                @*<div class="input-group-append">*@
                <button type="button" id="search"><i class="fa-solid fa-magnifying-glass"></i></button>

                @*</div>*@
            </div>
        </div>
       


<div class="sorting mr-auto">
    <button type="button" id="listRow" style="margin-left: 10px; border-color: rgba(246,135,4,0.5);"><i class="fa-solid fa-bars" style="color: rgb(246,135,4);"></i></button>
    <button type="button" id="listCol" style="margin-left: 10px; border-color: rgba(246,135,4,0.5);"><i class="fa-solid fa-table-cells" style="color: rgb(246,135,4);"></i></button>
</div>
</div>

@*</div>*@
<!--<div class="row align-items-center">
    <p class="col-4">-->
@*<a asp-action="Create">Create New</a>*@
<!--<img src="~/Images/001.png" class="col-11 " />
    </p>
    <h1 class="col-8">我救浪線上商城</h1>
</div>-->
<div class="row col-12">
    <div class="col-md-3 alert col-sm-12 alert-light row">
        <div class="col-1"></div>
        <div class="col-11 sidebar-categories">
            <h2 class="head" style="text-align: center; letter-spacing:50px;font-size:30px">分類</h2>
            <ul class="card-product__title">
                <li>
                    <h4><input  class="pixel-radio ParentCategory" type="radio" name="ParentCategory"value="2" />狗用</h4>
                    <ul class="single-search-product-wrapper">
                        @foreach (Category cator in Model)
                        {
                            if (cator.ParentCategory == 2)
                            {
                                <li>
                                    <h5><input class="pixel-radio Category" type="radio" name="Category" value="@cator.CategoryId">@cator.CategoryName</h5>
                                    <ul class="child">
                                        @foreach (SubCategory subCat in cator.SubCategories.ToList())
                                        {
                                            <li><input class="pixel-radio SubCategory" type="radio" name="SubCategory"value="@subCat.SubCategoryId">@subCat.SubCategoryName</li>
                                        }
                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                </li>
                <li>
                    <h4><input class="pixel-radio ParentCategory" type="radio" name="ParentCategory" value="3" />貓用</h4>
                    <ul class="single-search-product-wrapper">
                        @foreach (Category cator in Model)
                        {
                            if (cator.ParentCategory == 3)
                            {
                                <li>
                                    <h5><input class="pixel-radio Category" type="radio" name="Category" value="@cator.CategoryId">@cator.CategoryName</h5>
                                    <ul class="child">
                                        @foreach (SubCategory subCat in cator.SubCategories.ToList())
                                        {
                                            <li><input  class="pixel-radio SubCategory" type="radio" name="SubCategory" value="@subCat.SubCategoryId">@subCat.SubCategoryName</li>
                                        }
                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-8" id="divAlert">

    </div>
    <div class="col-1 ">
        <ul class="navbar-dark list-unstyled float-right " style="position:fixed">
            <li>
                <button class="btn btn-secondary border-0" title="Popover title" style="width: 100%; background: rgba(244,126,1,0.8); "
                        data-container="body" data-toggle="popover" data-placement="right"
                        data-content="右側的 Popover 中的一些内容">
                    <i class="fa-solid fa-cart-shopping">@Html.ActionLink(" (0)", "CartView", null)</i>
                </button><br />
            </li>
            <li><button style="width: 100%; background: rgba(244,126,1,0.8); " class="btn btn-secondary border-0" data-toggle="tooltip" data-placement="right" title="追蹤商品"><i class="fa-solid fa-star">收藏</i></button><br /></li>
            <li><button style="width: 100%; background: rgba(244,126,1,0.8); " class="btn btn-secondary border-0" data-toggle="tooltip" data-placement="right" title="回到頂端"><i class="fa-solid fa-circle-arrow-up">TOP</i></button><br /></li>
        </ul>
    </div>
</div>

@section scripts{
    <script>
@using qqqq.ViewModels
        let list = true;
        let ParentCategory = null;
        let Category = null;
        let SubCategory = null;
        let Keyword = "";
       
           const divInfo= document.querySelector("#divAlert")
               $("#divAlert").load('@Url.Content("~/shopping/shoppingCol")')
        $("#listRow").click(() => {
            list = false;
                $("#divAlert").load('@Url.Content("~/shopping/shoppingRow")')
            })
        $("#listCol").click(() => {
            list = true;
                $("#divAlert").load('@Url.Content("~/shopping/shoppingCol")')
        })
        $(".ParentCategory").on("change", (event) => {
            ParentCategory = event.target.value;
            console.log(ParentCategory)
        })
        $(".Category").on("change", (event) => {
            Category = event.target.value;
            console.log(Category)
        })
        $(".SubCategory").on("change", (event) => {
            SubCategory = event.target.value;
            
        })
    </script>

}
