<div class="container-fluid  py-6 wow fadeIn" data-wow-delay="0.1s" style=" margin-bottom: 6rem; background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),url(../img/head-5.jpg) center center no-repeat; background-size: cover;">
    <div class="container text-center pt-5 pb-3">
        <h1 class="display-4 text-white animated slideInDown mb-3">購物商城</h1>
    </div>
</div>
@model List<Category>

@{
    ViewData["Title"] = "List";
}

@*<div class="col-12 align-center">*@
<!-- Start Filter Bar -->

<div class="filter-bar d-flex flex-wrap align-items-center text-center">
    <div class="col-3"></div>   <h4><label>篩選:</label></h4>
    <div class="text-center ">

        <select class="sorting mr-auto" style="margin-left: 10px; margin-right: 10px;" name="Category" id="selectCate">
            <option value="0">全部</option>
            @foreach (Category cator in Model)
            {
                <option value="@cator.CategoryId">@cator.CategoryName</option>
            }
        </select>
    </div>
    <div>
        <select class="sorting mr-auto" style="margin-left: 10px; margin-right:10px;" name="SubCategory" id="selectSub">
            <option value="0">全部</option>
            @foreach (Category cator in Model)
            {
                foreach (SubCategory subCat in cator.SubCategories.ToList())
                {
                    <option value="@subCat.SubCategoryId">@subCat.SubCategoryName</option>
                }
            }
        </select>
    </div>
    <div>
        <div class="input-group filter-bar-search">
            <input type="text" placeholder="輸入關鍵字" name="Keyword" id="keyword">
            @*<div class="input-group-append">*@
            <button type="button" id="search"><i class="fa-solid fa-magnifying-glass"></i></button>

            @*</div>*@
        </div>
    </div>


    <div class="col-2"></div>   <h4><label>排列方式:</label></h4>
    <div class="sorting mr-auto">
        <button type="button" id="listRow" style="margin-left: 10px; border-color: rgba(246,135,4,0.5);"><i class="fa-solid fa-bars" style="color: rgb(246,135,4);"></i></button>
        <button type="button" id="listCol" style="margin-left: 10px; border-color: rgba(246,135,4,0.5);"><i class="fa-solid fa-table-cells" style="color: rgb(246,135,4);"></i></button>
    </div>
</div>

@*</div>*@
<!--<div class="row align-items-center">
    <p class="col-4">-->
@*<a asp-action="Create">Create New</a>*@
<!--<img src="~/Images/001.png" class="col-11 " />
    </p>
    <h1 class="col-8">我救浪線上商城</h1>
</div>-->
<div class="row col-12">
    <div class="col-md-3 alert col-sm-12 alert-light row">
        <div class="col-1"></div>
        <div class="col-11 sidebar-categories">
            <h2 class="head" style="text-align: center; letter-spacing:50px;font-size:30px">分類</h2>
            <ul class="card-product__title">
                <li>
                    <h4><label class="team-title"  type="text" name="filter" value="2" readonly >狗用</label></h4>
                    <ul class="single-search-product-wrapper">
                        @foreach (Category cator in Model)
                        {
                            if (cator.ParentCategory == 2)
                            {
                                <li>
                                    <h5><label  filter" type="text" name="filter" value="@cator.CategoryId" readonly>@cator.CategoryName</label></h5>
                                    <ul class="child">
                                        @foreach (SubCategory subCat in cator.SubCategories.ToList())
                                        {
                                            <li><input class="pixel-radio filter" type="checkbox" name="filter" value="@subCat.SubCategoryId">@subCat.SubCategoryName</li>
                                        }
                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                </li>
                <li>
                    <h4><label  type="text" name="filter" value="3" readonly >貓用</label></h4>
                    <ul class="single-search-product-wrapper">
                        @foreach (Category cator in Model)
                        {
                            if (cator.ParentCategory == 3)
                            {
                                <li>
                                    <h5><label  type="radio" name="filter" value="@cator.CategoryId" readonly>@cator.CategoryName</label></h5>
                                    <ul class="child">
                                        @foreach (SubCategory subCat in cator.SubCategories.ToList())
                                        {
                                            <li><input class="pixel-radio filter" type="checkbox" name="filter" value="@subCat.SubCategoryId">@subCat.SubCategoryName</li>
                                        }
                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-8" id="divAlert">

    </div>
    <div class="col-1 ">
        <ul class="navbar-dark list-unstyled float-right " style="position:fixed">
            <li>
                <a class="btn btn-secondary border-0" title="Popover title" style="width: 100%; background: rgba(244,126,1,0.8); "
                        data-container="body" data-toggle="popover" data-placement="right"
                        data-content="右側的 Popover 中的一些内容" href="~/shopping/CartView">
                        <i class="fa-solid fa-cart-shopping">(0)</i>
                </a><br />
            </li> 
            <li><button style="width: 100%; background: rgba(244,126,1,0.8); " class="btn btn-secondary border-0" data-toggle="tooltip" data-placement="right" title="追蹤商品"><i class="fa-solid fa-star">收藏</i></button><br /></li>
            @*<li><button style="width: 100%; background: rgba(244,126,1,0.8); " class="btn btn-secondary border-0" data-toggle="tooltip" data-placement="right" title="回到頂端"><i class="fa-solid fa-circle-arrow-up">TOP</i></button><br /></li>*@
        </ul>
    </div>
</div>

@section scripts{
    <script>

        let list = true;
        let ParentCategory =0;
        let Category =0;
        let SubCategory = [];
        let Keyword = "";
        let search = null;

        const divInfo = document.querySelector("#divAlert")
        filter();
               @*$("#divAlert").load('@Url.Content("~/shopping/shoppingCol")')*@
        $("#listRow").click(() => {
            list = false;
            @*$("#divAlert").load('@Url.Content("~/shopping/shoppingRow")')*@
            filter();

            })
        $("#listCol").click(() => {
            list = true;
                @*$("#divAlert").load('@Url.Content("~/shopping/shoppingCol")')*@
            filter();
        })
        $(".filter").on("change", (event) => {
            if (search == false) {
                SubCategory=[]
            }
            $("#keyword").text=""
            search = true;
            console.log(SubCategory)
            if (event.target.checked) {
                ParentCategory = 0;
                Category = 0
                SubCategory.push(event.target.value)
                filter()
            }
            else {
                SubCategory = SubCategory.filter(function (item) {
                    return item != event.target.value
                })
                filter();
            }
        })

        //$(".Category").on("change", (event) => {
        //    if (event.target.checked) {
        //        search = true;
        //        Category = event.target.value;
        //        filter();
        //    }

       /* })*/
        //$(".SubCategory").on("change", (event) => {
        //    search = true;
        //    SubCategory = event.target.value;
        //    filter();
        //})
        function filter() {
            if (list == true) {
                $("#divAlert").load('@Url.Content("~/shopping/shoppingCol")', { "Keyword": Keyword, "Category": Category, "SubCategory": SubCategory, "ParentCategory": ParentCategory,"Search":search })
            }
            else {
                 $("#divAlert").load('@Url.Content("~/shopping/shoppingRow")', { "Keyword": Keyword, "Category": Category, "SubCategory": SubCategory, "ParentCategory": ParentCategory,"Search":search })
            }
        }
        $("#selectCate").on("change",(event)=> {
            $.getJSON('@Url.Content("~/shopping/SubCategory")', { "id": event.target.value }, (data) => {
                let list = JSON.parse(data)
                let selet = $("#selectSub")
                selet.empty();
                let opt = document.createElement("option");
                opt.value = 0;
                opt.text = "全部";
                selet.append(opt)
                $.each(list, (index, item) => {
                    opt = document.createElement("option");
                    opt.value = item.SubCategoryId;
                    opt.text = item.SubCategoryName;
                    selet.append(opt);
                })
            })
        })
        $("#search").on("click", () => {
            search = false;
            SubCategory = [];
            $(":checkbox").prop("checked",false)
            if ($("#selectCate").select().val() != 0) {
                Category= $("#selectCate").select().val()
            }

            if ($("#selectSub").select().val() !=0 ) {
                SubCategory.push(  $("#selectSub").select().val())
            }

            Keyword = $("#keyword").val()
            parent = 0

            filter();
        })
    </script>

}
