@model IEnumerable<qqqq.Models.Order>



<h3 class="h5 mb-4 text-center">訂單總覽</h3>
<div class="table-wrap">
    <table class="table">
        <thead class="thead-primary">
            <tr>
                <th>訂單編號</th>
                <th>購買品項</th>
                <th>購買金額</th>
                <th>購買日期</th>
                <th>訂單狀態</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>



            @{

                我救浪Context db = new 我救浪Context();
                foreach (var item in Model)
                {
                    <tr class="alert" role="alert">
                        <td>
                            @item.OrderId
                        </td>
                        <td>
                            <div class="email">
                                @{var detail = db.OrderDetails.Where(x => x.OrderId == item.OrderId).Select(y => y.Product.ProductName).ToList(); }
                                <span>@detail.FirstOrDefault()</span>
                                <span>尚有其他@(detail.Count - 1 )筆資料</span>
                            </div>
                        </td>
                        @{
                            decimal totalPrice = 0;
                            var totalList = db.OrderDetails.Where(x => x.OrderId == item.OrderId).Select(y => new { total = y.UnitPrice * y.Quantity }).ToList();
                            foreach (var i in totalList)
                            {
                                totalPrice += (decimal)i.total;
                            }
                        }
                        <td>
                    
                            @(String.Format("{0:$#,0}", totalPrice))
                        </td>
                        <td>
                            @($"{((DateTime)item.OrderDate).Year}-{((DateTime)item.OrderDate).Month}-{((DateTime)item.OrderDate).Day}")
                        </td>

                        <td>@(db.OrderStatuses.Where(x=>x.OrderStatusId==item.OrderStatusId).Select(y=>y.StatusType).FirstOrDefault())</td>

                        <td>
                            <div class="email">
                                <a href="#" class="viewDoneList" orderid=@item.OrderId>
                                    <span aria-hidden="true"><i class="fa-solid fa-list" style="margin-left:40%"></i></span>
                                    <span>點擊檢視詳細資料</span>
                                </a>
                            </div>
                        </td>
                    </tr>

                }
            }



            <!--=========================================================================================-->





        </tbody>
    </table>


</div>
<script>


    $(".viewDoneList").click(function (eve)  {
        let orderid = $(this).attr("orderid");
        console.log(orderid);
           eve.preventDefault();
           $("#viewChange").empty();
        $.post("@Url.Content("~/MemberArea/detailList")", {
            id: orderid

           }, function (datas) { console.log(datas); $("#viewChange").html(datas); })


        })
</script>