@model Pet.ViewModels.CProductView

@{
    ViewData["Title"] = "Create";
    qqqq.Models.我救浪Context db = new 我救浪Context();
    Layout = "_BackLayout";
}

<h1>新增商品</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <i class="fa-solid fa-paw">
                    <label asp-for="ProductName" class="control-label"></label>
                </i>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fa-solid fa-paw">
                    <label class="control-label">動物類別</label>
                </i>
                <div class="col-md-10">
                    <select id="Pet" class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option value="none" selected disabled hidden>請選擇選項</option>
                        @{
                            var qp = from c in db.Categories where c.IsPet == true && c.CategoryName != "不限" select c;
                            foreach (Category c in qp)
                            {
                                <option value="@c.CategoryId">@c.CategoryName</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <i class="fa-solid fa-paw">
                    <label class="control-label">商品主分類</label>
                </i>
                <div class="col-md-10">
                    <select id="Category" class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option value="none" selected disabled hidden>請選擇選項</option>
                        @{
                            var qc = from c in db.Categories where c.IsPet == false select c;
                            foreach (Category c in qc)
                            {
                                <option value="@c.CategoryId" style="display:none" parentCategory="@c.ParentCategory">@c.CategoryName</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">商品次分類</label>
                <div class="col-md-10">
                    <select id="SubCategory" name="SubCategoryID" class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option value="none" selected disabled hidden>請選擇選項</option>
                        @{
                            var qsc = from sc in db.SubCategories where sc.SubCategoryName != "不限" select sc;
                            foreach (SubCategory sc in qsc)
                            {
                                <option value="@sc.SubCategoryId" style="display:none" Category="@sc.CategoryId">@sc.SubCategoryName</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <i class="fa-solid fa-paw">
                    <label asp-for="Price" class="control-label"></label>
                </i>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fa-solid fa-paw">
                    <label asp-for="Cost" class="control-label"></label>
                </i>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fa-solid fa-paw">
                    <label class="control-label">供應商</label>
                </i>
                <div class="col-md-10">
                    <select name="SupplierId">
                        <option value="none" selected disabled hidden>請選擇選項</option>
                        @{
                            var q = from s in db.Suppliers select s;
                            foreach (Supplier s in q)
                            {
                                <option value="@s.SupplierId">@s.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group form-check" hidden>
                <label class="form-check-label">
                    <input value="false" name="IsPet" />
                    <input value="true" name="Continued" />
                </label>
            </div>
            <div class="form-group">
                <i class="fa-solid fa-paw">
                    <label asp-for="Description" class="control-label"></label>
                </i>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fa-solid fa-paw">
                    <label asp-for="UnitsInStock" class="control-label"></label>
                </i>
                <input asp-for="UnitsInStock" class="form-control" />
                <span asp-validation-for="UnitsInStock" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="List">回到商品列表</a>
</div>
<script>
    $("#Pet").change(function () {
        $("#Category option").hide();
        $("#Category").val("none");
        let parentID = this.value;
        $(`#Category option[parentCategory=${parentID}]`).show();

        $("#Category").trigger("change");
    });

    $("#Category").change(function () {
        $("#SubCategory option").hide();
        $("#SubCategory").val("none");
        let CategoryID = this.value;
        $(`#SubCategory option[Category=${CategoryID}]`).show();
    });

</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
