<div class="container-fluid  py-6 wow fadeIn" data-wow-delay="0.1s" style=" margin-bottom: 6rem; background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),url(../img/head-1.jpg) center center no-repeat; background-size: cover;">
    <div class="container text-center pt-5 pb-3">
        <h1 class="display-4 text-white animated slideInDown mb-3">領養中心</h1>
    </div>
</div>


@{
    ViewData["Title"] = "petsList";
}

@*<div class="col-12 align-center">*@
<!-- Start Filter Bar -->

<div class="filter-bar d-flex flex-wrap align-items-center text-center">
    <div class="text-center ">

        種類: <select class="sorting mr-auto" style="margin-left: 10px; margin-right: 10px;">
            <option value="1">狗</option>
            <option value="1">貓</option>
        </select>
    </div>
    <div>
        性別: <select class="sorting mr-auto" style="margin-left: 10px; margin-right:10px;">
            <option value="1">不限</option>
            <option value="1">公</option>
            <option value="1">母</option>
        </select>
        體型: <select class="sorting mr-auto" style="margin-left: 10px; margin-right:10px;">
            <option value="1">不限</option>
            <option value="1">大</option>
            <option value="1">中</option>
            <option value="1">小</option>
        </select>

    </div>
    @using (Html.BeginForm())
    {
        @:關鍵字 @Html.TextBox("txtkeyword")
        <input type="submit" value="查詢" />
    }

    <div class="sorting mr-auto">
        <button type="button" id="listRow" style="margin-left: 10px; border-color: rgba(246,135,4,0.5);"><i class="fa-solid fa-bars" style="color: rgb(246,135,4);"></i></button>
        <button type="button" id="listCol" style="margin-left: 10px; border-color: rgba(246,135,4,0.5);"><i class="fa-solid fa-table-cells" style="color: rgb(246,135,4);"></i></button>
    </div>
    <div style="justify-content:flex-end;">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            寵物配對
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="display:flex;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">配對條件</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">

                            種類: <select class="sorting mr-auto" style="margin-left: 10px; margin-right: 10px;">
                                <option value="1">狗</option>
                                <option value="1">貓</option>
                            </select>
                        </div>
                        <div class="text-center">
                            性別: <select class="sorting mr-auto" style="margin-left: 10px; margin-right:10px;">
                                <option value="1">不限</option>
                                <option value="1">公</option>
                                <option value="1">母</option>
                            </select>
                        </div>
                        <div>
                            品種: <select class="sorting mr-auto" style="margin-left: 10px; margin-right:10px;">
                                <option value="1">不限</option>
                                <option value="1">瑪爾濟斯</option>
                                <option value="1">英國短毛</option>
                                <option value="1">法國鬥牛犬</option>
                            </select>
                        </div>
                        <div>
                            毛色: <select class="sorting mr-auto" style="margin-left: 10px; margin-right:10px;">
                                <option value="1">不限</option>
                                <option value="1">黑</option>
                                <option value="1">黃</option>
                                <option value="1">白</option>
                            </select>
                        </div>
                        <div>
                            結紮: <select class="sorting mr-auto" style="margin-left: 10px; margin-right:10px;">
                                <option value="1">不限</option>
                                <option value="1">是</option>
                                <option value="1">否</option>
                            </select>
                        </div>
                        <div>
                            體型: <select class="sorting mr-auto" style="margin-left: 10px; margin-right:10px;">
                                <option value="1">不限</option>
                                <option value="1">大</option>
                                <option value="1">中</option>
                                <option value="1">小</option>
                            </select>
                        </div>
                        <div>
                            年齡層: <select class="sorting mr-auto" style="margin-left: 10px; margin-right:10px;">
                                <option value="1">不限</option>
                                <option value="1">幼年</option>
                                <option value="1">成年</option>
                            </select>
                        </div>
                        <div>
                            區域: <select class="sorting mr-auto" style="margin-left: 10px; margin-right:10px;">
                                <option value="1">不限</option>
                                <option value="1">台北</option>
                                <option value="1">高雄</option>
                                <option value="1">台中</option>
                            </select>
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary">@Html.ActionLink("開始配對", "petsMatch", "pets")</button>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>


<div class="col-4 w-100" id="divAlert">
</div>

@section scripts{
    <script>
           const divInfo= document.querySelector("#divAlert")
               $("#divAlert").load('@Url.Content("~/pets/petsPhoto")')
            $("#listRow").click(() => {
                $("#divAlert").load('@Url.Content("~/pets/petsPhotoRow")')
            })
            $("#listCol").click(() => {
                $("#divAlert").load('@Url.Content("~/pets/petsPhoto")')
            })
    </script>

}
