@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.EntityFrameworkCore;
@using prjMVCDemo.vModel;
@using qqqq.Models;
@using qqqq.ViewModels;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Net;
@using System.Net.Mail;
@using System.Text.Json;
@model qqqq.ViewModels.CAdoptView
@*@model IEnumerable<qqqq.ViewModels.CAdoptView>*@
<div class="container-fluid  py-6 wow fadeIn" data-wow-delay="0.1s" style=" margin-bottom: 6rem; background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),url(../img/head-1.jpg) center center no-repeat; background-size: cover;">
    <div class="container text-center pt-5 pb-3">
        <h1 class="display-4 text-white animated slideInDown mb-3">領養中心</h1>
    </div>
</div>


@{
    ViewData["Title"] = "Edit";
    qqqq.Models.我救浪Context db = new 我救浪Context();
    CLoginViewModel memberview = null;
    if (Context.Session.Keys.Contains(CDictionary.SK_LOGIN_USER))
    {
        var b = Context.Session.GetString((CDictionary.SK_LOGIN_USER));
        memberview = JsonSerializer.Deserialize<CLoginViewModel>(b);
    }
    var user = db.Members.Where(m => m.MemberId == memberview.MemberID).FirstOrDefault();
}
@section Styles{
    <style>
        #input {
            border: solid antiquewhite 2px;
            border-radius: 20px;
            color: black;
            font-weight: 400;
            background-color: antiquewhite;
        }

        label {
            color: black;
            font-weight: 900;
        }

        #alert1 {
            font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    </style>
}
<div>
    <h1 style="font-weight:900; text-align:center;">領養會員資料確認</h1>
</div>
<div style="text-align:right; margin-right:10px; text-decoration:none">
    <a style="color:#fff;border:none;background-color:#EAA636;padding:7px;cursor:pointer;user-select:none" href="@Url.Content("~/pets/petsList")"><i class="fa-solid fa-right-from-bracket fa-2">返回</i></a>
</div>
<hr />
<div class="row" style="padding-bottom:90px; display:flex;justify-content:center;align-items:center">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" id="memform">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label class="control-label"></label>
                <input id="input" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fa-solid fa-paw"><label class="control-label">會員姓名</label></i>
                <input id="inputName" class="form-control" value="@user.Name" disabled />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fa-solid fa-paw">
                    <label class="control-label">會員生日</label>
                </i>
                <input type="date" id="inputBirthday" class="form-control" asp-for="@user.BirthdayDate" disabled />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fa-solid fa-paw">
                    <label class="control-label">會員手機號碼</label>
                </i>
                <input id="inputPhone" class="form-control" value="@user.MemberPhone" disabled />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fa-solid fa-paw">
                    <label class="control-label">居住城市</label>
                </i>
                <input id="inputCityId" class="form-control" value="@user.City.CityName" disabled />

                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <i class="fa-solid fa-paw">
                    <label class="control-label">會員地址</label>
                </i>
                <input id="inputadd" class="form-control" value="@user.Address" disabled />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fa-solid fa-paw">
                    <label class="control-label">會員電子信箱</label>
                </i>
                <input id="inputemail" class="form-control" value="@user.Email" disabled />
                <span class="text-danger"></span>
            </div>

            <div class="form-group m-1" id="alert1">
                <button type="button" class="btn btn-success m-2" data-dismiss="modal" onclick="alertlist1()">修改</button>
                <button type="button" class="btn btn-primary" onclick="alertlist()" id="adoptOrder">直接送出</button>
            </div>
        </form>
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
@section Scripts {
    <script>

        function alertlist() {
            $.post("@Url.Content("~/pets/AdoptOrder")", { memID: @(user.MemberId), productID:@Model.ProductId})
            Swal.fire(
                '成功',
                '請至信箱收取確認訊息',
                'success'
            )/*, setTimeout(function () { location.href = "/pets/petsList" }, 1000)*/
            $.post("@Url.Content("~/pets/EmailTest")", {})
        }
        function alertlist1() {
            document.location.href="@Url.Content("~/MemberArea/MemberEdoit/")"
        }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
