@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.EntityFrameworkCore;
@using prjMVCDemo.vModel;
@using qqqq.Models;
@using qqqq.ViewModels;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Net;
@using System.Net.Mail;
@using System.Text.Json;
<div class="container-fluid  py-6 wow fadeIn" data-wow-delay="0.1s" style=" margin-bottom: 6rem; background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),url(../img/head-1.jpg) center center no-repeat; background-size: cover;">
    <div class="container text-center pt-5 pb-3">
        <h1 class="display-4 text-white animated slideInDown mb-3">寵物詳細資料</h1>
    </div>
</div>
@model qqqq.Models.Product

@{
    ViewData["Title"] = "petsDetial";
    CLoginViewModel memberview = null;
    if (Context.Session.Keys.Contains(CDictionary.SK_LOGIN_USER))
    {
        var b = Context.Session.GetString((CDictionary.SK_LOGIN_USER));
        memberview = JsonSerializer.Deserialize<CLoginViewModel>(b);
    }
}
@section Styles{
    <style>
        .magnify{
            flex:none;
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(0%,0%);
            display:inline-block;
            justify-content:center;
            align-items:center;
        }
        .magnified {
            width: 600px;
            height: 600px;
            border: 5px solid #694127;
            display: block;
            margin: auto;
            z-index: 80;
        }
        .magnified img{
            width:100%;
            height:100%;
        }
        .magnifier {
            width: 200px;
            height: 200px;
            position: absolute;
            border: 4px solid #694127;
            background-size: 800%;
            border-radius: 10px;
            background-repeat: no-repeat;
            pointer-events: none;
            margin-left: -100px !important;
            margin-top: -100px !important;
            z-index: 90;
        }
    </style>
}

<div class="container text-center col-md-6 col-sm-12">
    <div>
        <form class="text-left" style="display: flex; align-items: center">
            <div class="magnify">
                <div class="magnifier" style="background-image:url(/Images/@Model.Photos.Where(ph=>ph.IsDefault ==true).FirstOrDefault().PictureName);"></div>
                <div class="magnified">
                    <img id="prodImg" src="~/Images/@Model.Photos.Where(ph=>ph.IsDefault ==true).FirstOrDefault().PictureName" />
                </div>
            </div>   
            <div style="flex:none;text-align:left;margin-left:10px;">
                <hr />
                <h5>
                    <label class="control-label">名字:<span>@Model.ProductName</span></label>
                </h5>
                <hr />
                <h5>
                    <label class="control-label">種類:<span>@Model.SubCategory.Category.CategoryName</span></label>
                </h5>
                <hr />

                <h5>
                    <label class="control-label">品種:<span>@Model.SubCategory.SubCategoryName</span></label>
                </h5>
                <hr />

                <h5>
                    <label class="control-label">性別:<span>@Model.PetDetail.Gender.GenderType</span></label>
                </h5>
                <hr />

                <h5>
                    <label class="control-label">體型:<span>@Model.PetDetail.Size.SizeType</span></label>
                </h5>
                <hr />

                <h5>
                    <label class="control-label">毛色:<span>@Model.PetDetail.Color.ColorName</span></label>
                </h5>

                <hr />
                <h5>
                    <label class="control-label">結紮:<span>@Model.PetDetail.Ligation.LigationType</span></label>
                </h5>
                <hr />

                <h5>
                    <label class="control-label">年齡層:<span>@Model.PetDetail.Age.AgeType</span></label>
                </h5>

                <hr />
                <h5>
                    <label class="control-label">最低活動空間:<span>@Model.PetDetail.Space</span> 坪</label>
                </h5>

                <hr />
                <h5>
                    <label class="control-label">所在城市:<span>@Model.PetDetail.City.CityName</span></label>
                </h5>

                <hr />
                <h5>
                    <label class="control-label">基本開銷費用約:<span>@(((decimal)Model.PetDetail.YearCost).ToString("#"))</span> 元/月</label>
                </h5>

                <hr />
                <h5>
                    <label class="control-label">每周陪伴時間:<span>@Model.PetDetail.AccompanyTimeWeek</span> 小時/週</label>
                </h5>

                <hr />
                <h5>
                    <label class="control-label">簡介:<span>@Model.Description</span></label>
                </h5>

                <hr />
            </div>
        </form>

        <div class="m-2">
            <div class="form-group">
                @{
                    if (memberview != null)
                    {
                        <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#exampleModalLong">
                            我要評估領養
                        </button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary m-1" id="login">
                            請登入或註冊會員
                        </button>
                    }
                }
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">領養須知</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="text-align:left">
                                <p>本人願遵守以下約定：</p>
                                <p> 1. 認養人需年滿 20 歲，未滿 20 歲者需經法定代理人同意並出示同意書。</p>
                                <p>
                                    2. 依法辦理犬隻寵物登記、晶片植入及絕育等事項（貓咪無強制需入晶片，但需於母貓 6 個月公貓 8
                                    個月大時施予結紮手術）。
                                </p>
                                <p>
                                    3. 無論何時都以人道方式對待認養之動物，並提供認養動物適當之食物、乾淨之飲水、適當之運動空
                                    間、不可長期將動物關在籠中或栓綁在狹小之空間飼養，否則視為虐待動物。
                                </p>
                                <p>
                                    4. 定期幫牠進行預防注射、狂犬病疫苗、驅蟲及健康檢查。
                                </p>
                                <p>
                                    5. 當牠受傷或罹病時，必請獸醫師給予醫療。
                                </p>
                                <p>
                                    6. 妥善照管牠，防止其無故侵害他人之生命、身體、自由、財產或安寧。
                                </p>
                                <p>
                                    7. 不隨便放縱牠於戶外，出入公共場所或公眾得出入之場所時必由 14 歲以上之人伴同，並採取適當
                                    之防衛措施，如繫鍊、提籃等，始得攜出戶外。
                                </p>
                                <p>
                                    8. 若因任何原因無法續養，本人需為牠找到新的認養家庭，絕不棄養認養的動物。
                                </p>
                                <p>
                                    9. 當牠轉讓、遺失或死亡時，依法辦理。
                                </p>
                                <p>
                                    10. 本人遵守動物保護法及有關單位對家畜衛生管理之相關規定。
                                </p>
                                <p>
                                    11. 認養人如有違反以上認養規定者，依動物保護法及相關規定辦理，如有訴訟問題時可以此切結書以
                                    適當的法律途徑解決,。
                                </p>
                                <p>12. 本愛心認養切結書一式影本執於認養人，正本執於校犬管理單位。</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">我再想想</button>
                                <button type="button" class="btn btn-primary">@Html.ActionLink("我可以做到", "petsAdopt", "pets", new { id = Model.ProductId })</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success m-1">@Html.ActionLink("返回", "petsList", null)</button>
            </div>
        </div>
    </div>
    <div class="m-5">
        <div><h2>陪伴志工的描述</h2></div>
        <hr />
        <div>
            <div class="text-left row">
                <img src="~/Images/02.png" width="40" height="40" class="col-md-1 col-auto " />
                <h5 class="col-md-2 col-auto">德華</h5>2022/05/15
            </div>
            <div class="text-left row"><p><h4 class="text">活潑 好動 親人 適合陪伴的好朋友</h4></p></div>
            <div></div>
        </div>
        <hr />
        <div>
            <div class="text-left row">
                <img src="~/Images/11.png" width="40" height="40" class="col-md-1 col-auto " />
                <h5 class="col-md-2 col-auto">學友</h5>2022/05/15
            </div>
            <div class="text-left row"><p><h4 class="text">貼心 愛撒嬌 毛較多</h4></p></div>
            <div></div>
        </div>
        <hr />
        <div>
            <div class="text-left row">
                <img src="~/Images/06.png" width="40" height="40" class="col-md-1 col-auto " />
                <h5 class="col-md-2 col-auto">富城</h5>2022/05/15
            </div>
            <div class="text-center row"><p><h4 class="text">是個調皮的小東西</h4></p></div>
            <div></div>
        </div>
        <hr />
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(".magnified").hover(function (e) {
            var imgPosition = $(".magnify").position(),
                imgHeight = $(".magnified").height(),
                imgWidth = $(".magnified").width();
            $(".magnifier").show();
            $(this).mousemove(function (e) {
                var posX = e.pageX - imgPosition.left;
                posY = e.pageY - imgPosition.top;
                percX = (posX / imgWidth) * 100,
                    percY = (posY / imgHeight) * 100,
                    perc = percX + "%" + percY + "%";
                $(".magnifier").css({
                    top: posY,
                    left: posX,
                    backgroundPosition: perc
                });
            });
        }, function () {
            $(".magnifier").hide();
        });


        $("#login").click(() => {
            document.location.href = "@Url.Content("~/home/login/")"
        })
    </script>
}