<div class="container-fluid  py-6 wow fadeIn" data-wow-delay="0.1s" style=" margin-bottom: 6rem; background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),url(../img/head-1.jpg) center center no-repeat; background-size: cover;">
    <div class="container text-center pt-5 pb-3">
        <h1 class="display-4 text-white animated slideInDown mb-3">浪浪配對</h1>
    </div>
</div>

@model IEnumerable<qqqq.ViewModels.CProductShow>

@{
    ViewData["Title"] = "petsMatch";
    qqqq.Models.我救浪Context db = new 我救浪Context();

}
<meta name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<!-- Link Swiper's CSS -->
<link href="~/css/styleef.css" rel="stylesheet" />
@section Styles{
    <style>
        html,
        body {
            position: relative;
            height: 100%;
        }

        body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
            user-select: none;
        }

        .swiper {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 400px;
            height: 300px;
        }

            .swiper-slide img {
                display: block;
                width: 100%;
            }

        #addToList {
            background-color: #734226;
        }

        #alert1 {
            font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    </style>
}<body>
    <div>
        <!-- Swiper -->
        <div class="swiper mySwiper ">
            <div class="swiper-wrapper" style="text-align:center">
                @foreach (var item in Model)
                {
                    <div class="swiper-slide" width="100%">

                        <button id="addToList" style="background-color: #734226">
                            <h5 style="color:#fff;">@item.ProductName</h5>
                            @{ if (item.Photos.Count == 0)
                                {
                                    <img src="/Images/notfound.jpg" height="300" zoom />
                                }
                                else
                                {
                                    <img src="/Images/@item.Photos.FirstOrDefault(p=>p.IsDefault==true).PictureName" width="300" height="300" />
                                }
                            }
                            <i class="fa-solid fa-list-alt" style="color:#EAA636">@Html.ActionLink("詳細資料", "petsDetial", "pets")</i>
                        </button>
                    </div>
                }

            </div>

        </div>

        <div class="form-group m-3" style="text-align: center" ;>
            <h5 style="color: #D5D8DC ">滑鼠滑動翻頁</h5>
            <div style="display:flex;justify-content:center;align-items:center;">
                @*Button trigger modal*@

                <button class="btn btn-success " onclick="backpets" style="flex: none; width: 120px; margin: 10px; align-items: center; justify-content: center ">@Html.ActionLink("維持原條件", "petsList", null)</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                        style="flex:none;width:120px;margin:10px;align-items:center;justify-content:center">
                    調整清單
                </button>
                @*Modal*@
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="display:flex;">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">配對條件</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" >
                                <div class="text-center">
                                    <label>種類:</label><select id="petCatel" class="sorting mr-auto btn btn-warning dropdown-toggle" style="margin-left: 10px; margin-right: 10px;">
                                        <option value="none" selected disabled hidden>請選擇選項</option>
                                        @{
                                            var qpl = from p in db.Categories where p.IsPet == true select p;
                                            foreach (Category p in qpl)
                                            {
                                                <option value="@p.CategoryId">@p.CategoryName</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div>
                                    <label>品種:</label><select id="petSubcatel" class="sorting mr-auto btn btn-warning dropdown-toggle" style="margin-left: 10px; margin-right:10px;">
                                        <option value="none" selected disabled hidden>請選擇選項</option>
                                    </select>
                                </div>
                                <div class="text-center">
                                    性別: <select class="sorting mr-auto btn btn-warning dropdown-toggle" style="margin-left: 10px; margin-right:10px;">
                                        <option value="none" selected disabled hidden>請選擇選項</option>
                                        @{
                                            var qgl = from g in db.Genders select g;
                                            foreach (Gender g in qgl)
                                            {
                                                <option value="@g.GenderId">@g.GenderType</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div>
                                    毛色: <select class="sorting mr-auto btn btn-warning dropdown-toggle" style="margin-left: 10px; margin-right:10px;">
                                        <option value="none" selected disabled hidden>請選擇選項</option>
                                        @{
                                            var qcl = from c in db.Colors select c;
                                            foreach (Color c in qcl)
                                            {
                                                <option value="@c.ColorId">@c.ColorName</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div>
                                    結紮: <select class="sorting mr-auto btn btn-warning dropdown-toggle" style="margin-left: 10px; margin-right:10px;">
                                        <option value="none" selected disabled hidden>請選擇選項</option>
                                        @{
                                            var qll = from l in db.Ligations select l;
                                            foreach (Ligation l in qll)
                                            {
                                                <option value="@l.LigationId">@l.LigationType</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div>
                                    體型: <select class="sorting mr-auto btn btn-warning dropdown-toggle" style="margin-left: 10px; margin-right:10px;">
                                        <option value="none" selected disabled hidden>請選擇選項</option>
                                        @{
                                            var qsl = from s in db.Sizes select s;
                                            foreach (Size s in qsl)
                                            {
                                                <option value="@s.SizeId">@s.SizeType</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div>
                                    年齡層: <select class="sorting mr-auto btn btn-warning dropdown-toggle" style="margin-left: 10px; margin-right:10px;">
                                        <option value="none" selected disabled hidden>請選擇選項</option>
                                        @{
                                            var qal = from a in db.Ages select a;
                                            foreach (Age a in qal)
                                            {
                                                <option value="@a.AgeId">@a.AgeType</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div>
                                    區域: <select class="sorting mr-auto btn btn-warning dropdown-toggle" style="margin-left: 10px; margin-right:10px;">
                                        <option value="none" selected disabled hidden>請選擇選項</option>
                                        @{
                                            var qtl = from t in db.Cities select t;
                                            foreach (City t in qtl)
                                            {
                                                <option value="@t.CityId">@t.CityName</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer " id="alert1">
                                <button type="button" class="btn btn-primary" onclick="alertlist()">調整清單</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</body>
<script src="~/js/swipe.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

@section Scripts {

    <script>
        function alertlist() {
            let timerInterval
            Swal.fire({
                title: '條件修改成功!',
                html: '將在 <b></b> 毫秒後回寵物首頁',
                timer: 2000,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading()
                    const b = Swal.getHtmlContainer().querySelector('b')
                    timerInterval = setInterval(() => { b.textContent = Swal.getTimerLeft()}, 100);
                    setTimeout(function () { location.href = "/pets/petsList" }, 2000)
                }
            })
        }

        function backpets() {
            let timerInterval
            Swal.fire({
                title: '保存原條件',
                html: '將在 <b></b> 毫秒後回寵物首頁',
                timer: 2000,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading()
                    const a = Swal.getHtmlContainer().querySelector('b')
                    timerInterval = setInterval(() => { a.textContent = Swal.getTimerLeft() }, 100);
                    setTimeout(function () { location.href = "/pets/petsList" }, 2000)
                }
            })
        }

        var swiper = new Swiper(".mySwiper", {
            effect: "coverflow",
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: "auto",
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
            },
            pagination: {
                el: ".swiper-pagination",
            },
        });
          $("#petCatel").on('change', function () {
            $.getJSON('@Url.Content("~/pets/petsSubcategory")', { "id":this.value}, (data) => {
                let list = JSON.parse(data);
                let select = $("#petSubcatel")
                select.empty();
                let opt = document.createElement("option");
                opt.value = 0;
                opt.text = "請選擇項目";
                select.append(opt);
                $.each(list, (index, item) => {
                    let opt = document.createElement("option");
                    opt.value = item.SubCategoryId;
                    opt.text = item.SubCategoryName;
                    select.append(opt);
                })
            })
        })
    </script>

}
