<div class="container-fluid  py-6 wow fadeIn" data-wow-delay="0.1s" style=" margin-bottom: 6rem; background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),url(../img/head-1.jpg) center center no-repeat; background-size: cover;">
    <div class="container text-center pt-5 pb-3">
        <h1 class="display-4 text-white animated slideInDown mb-3">領養中心</h1>
    </div>
</div>
@{
    ViewData["Title"] = "petsList";
    qqqq.Models.我救浪Context db = new 我救浪Context();

}

<div class="filter-bar flex-wrap align-items-center text-center vw-100" style="display: flex; justify-content: space-between; align-content: center ">
    <div class="text-center m-2  " style="flex:none;font-size:20px;text-align:center;display:flex;justify-content:center;align-content:center">
        種類:
        <select id="petCate" class="form-select form-select mb-3" aria-label=".form-select example">
            <option value="none" selected disabled hidden>請選擇選項</option>
            @{
                var qp = from c in db.Categories where c.IsPet == true  select c;
                foreach (Category c in qp)
                {
                    <option value="@c.CategoryId">@c.CategoryName</option>
                }
            }
        </select>

        品種:
    <select id="petSubcate" class="form-select form-select mb-3" aria-label=".form-select example">
        <option value="none" selected disabled hidden>請選擇選項</option>
    </select>

        性別: <select id="petSubcate" class="form-select form-select mb-3" aria-label=".form-select example">
                <option value="none" selected disabled hidden>請選擇選項</option>
                @{
                    var qg = from g in db.Genders select g;
                    foreach (Gender g in qg)
                    {
                        <option value="@g.GenderId">@g.GenderType</option>
                    }
                }
                </select>
        體型: <select id="petSubcate" class="form-select form-select mb-3" aria-label=".form-select example">
                    <option value="none" selected disabled hidden>請選擇選項</option>
                    @{
                        var qs = from s in db.Sizes select s;
                        foreach (Size s in qs)
                        {
                            <option value="@s.SizeId">@s.SizeType</option>
                        }
                    }
                </select>
        <button>搜尋</button>

    </div>
    <div>
        <form action="@Url.Content("~/pets/Search")" method="post">
            <label>關鍵字</label><input type="text" name="keyword" />
            <input type="submit" value="查詢" />
        </form>
    </div>

    <div style="flex:none; justify-content:flex-end">
        <div class="sorting mr-auto">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">寵物配對</button>
            <button type="button" id="listRow" style="margin-left: 10px; border-color: rgba(246,135,4,0.5);"><i class="fa-solid fa-bars" style="color: rgb(246,135,4);"></i></button>
            <button type="button" id="listCol" style="margin-left: 10px; border-color: rgba(246,135,4,0.5);"><i class="fa-solid fa-table-cells" style="color: rgb(246,135,4);"></i></button>
        </div>
        <div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">配對條件</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="text-center">
                    <label>種類:</label><select id="petCatel" class="sorting mr-auto btn btn-warning dropdown-toggle" style="margin-left: 10px; margin-right: 10px;">
                                            <option value="none" selected disabled hidden>請選擇選項</option>
                                            @{
                                                var qpl = from c in db.Categories where c.IsPet == true select c;
                                                foreach (Category c in qpl)
                                                {
                                                    <option value="@c.CategoryId">@c.CategoryName</option>
                                                }
                                            }
                                        </select>
                            </div>
                            <div class="text-center">
                                性別: <select id="petSubcatel" class="sorting mr-auto btn btn-warning dropdown-toggle" style="margin-left: 10px; margin-right:10px;">
                                            <option value="none" selected disabled hidden>請選擇選項</option>
                                            @{
                                                var qgl = from g in db.Genders select g;
                                                foreach (Gender g in qgl)
                                                {
                                                    <option value="@g.GenderId">@g.GenderType</option>
                                                }
                                            }
                                        </select>
                            </div>
                            <div>
                                品種: <select id="petSubcatel" class="sorting mr-auto btn btn-warning dropdown-toggle" style="margin-left: 10px; margin-right:10px;">
                                            <option value="none" selected disabled hidden>請選擇選項</option>
                                        </select>
                            </div>
                            <div>
                                毛色: <select class="sorting mr-auto btn btn-warning dropdown-toggle" style="margin-left: 10px; margin-right:10px;">
                                    <option value="1">不限</option>
                                    <option value="1">黑</option>
                                    <option value="1">黃</option>
                                    <option value="1">白</option>
                                </select>
                            </div>
                            <div>
                                結紮: <select class="sorting mr-auto btn btn-warning dropdown-toggle" style="margin-left: 10px; margin-right:10px;">
                                    <option value="1">不限</option>
                                    <option value="1">是</option>
                                    <option value="1">否</option>
                                </select>
                            </div>
                            <div>
                                體型: <select class="sorting mr-auto btn btn-warning dropdown-toggle" style="margin-left: 10px; margin-right:10px;">
                                    <option value="1">不限</option>
                                    <option value="1">大</option>
                                    <option value="1">中</option>
                                    <option value="1">小</option>
                                </select>
                            </div>
                            <div>
                                年齡層: <select class="sorting mr-auto btn btn-warning dropdown-toggle" style="margin-left: 10px; margin-right:10px;">
                                    <option value="1">不限</option>
                                    <option value="1">幼年</option>
                                    <option value="1">成年</option>
                                </select>
                            </div>
                            <div>
                                區域: <select class="sorting mr-auto btn btn-warning dropdown-toggle" style="margin-left: 10px; margin-right:10px;">
                                    <option value="1">不限</option>
                                    <option value="1">台北</option>
                                    <option value="1">高雄</option>
                                    <option value="1">台中</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer" style="right:0;">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary">@Html.ActionLink("開始配對", "petsMatch", "pets")</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-4 w-100" id="divAlert">
</div>

@section scripts{
    <script>
           const divInfo= document.querySelector("#divAlert")
               $("#divAlert").load('@Url.Content("~/pets/petsPhoto")')
            $("#listRow").click(() => {
                $("#divAlert").load('@Url.Content("~/pets/petsPhotoRow")')
            })
            $("#listCol").click(() => {
                $("#divAlert").load('@Url.Content("~/pets/petsPhoto")')
            })
        $("#petCate petCatel").on('change', function () {
            $.getJSON('@Url.Content("~/pets/petsSubcategory")', { "id":this.value}, (data) => {
                let list = JSON.parse(data);
                let select = $("#petSubcate petSubcatel")
                select.empty();
                let opt = document.createElement("option");
                opt.value = 0;
                opt.text = "請選擇項目";
                select.append(opt);
                $.each(list, (index, item) => {
                    let opt = document.createElement("option");
                    opt.value = item.SubCategoryId;
                    opt.text = item.SubCategoryName;
                    select.append(opt);
                })
            })
        })

    </script>

}
