@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.EntityFrameworkCore;
@using prjMVCDemo.vModel;
@using qqqq.Models;
@using qqqq.ViewModels;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Net;
@using System.Net.Mail;
@using System.Text.Json;.

@model IEnumerable<qqqq.ViewModels.CAdoptView>

@{
    ViewData["Title"] = "petsMatch";
    qqqq.Models.我救浪Context db = new 我救浪Context();
    CLoginViewModel memberview = null;
    if (Context.Session.Keys.Contains(CDictionary.SK_LOGIN_USER))
    {
        var b = Context.Session.GetString((CDictionary.SK_LOGIN_USER));
        memberview = JsonSerializer.Deserialize<CLoginViewModel>(b);
    }
    var user = db.Members.Where(m => m.MemberId == memberview.MemberID).FirstOrDefault();

}
<meta name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<!-- Link Swiper's CSS -->
<link href="~/css/styleef.css" rel="stylesheet" />
@section Styles{
    <style>
        html,
        body {
            position: relative;
            height: 100%;
        }

        body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
/*            user-select: none;
*/        }

        .swiper {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 400px;
            height: 300px;
        }

            .swiper-slide img {
                display: block;
                width: 100%;
            }

        #addToList {
            background-color: #734226;
        }

        #alert1 {
            font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        td {
            vertical-align: middle;
            text-align: center;
        }
        .sel {
            border: none;
            background-color: #EEEEEE;
            font-size:20px;
        }
    </style>
    <div class="container-fluid  py-6 wow fadeIn" data-wow-delay="0.1s" style="  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),url(../img/head-1.jpg) center center no-repeat; background-size: cover;">
        <div class="container text-center pt-5 pb-3">
            <h1 class="display-4 text-white animated slideInDown mb-3">浪浪配對</h1>
        </div>
    </div>

}<body>
    <div>
        <!-- Swiper -->
        <div class="swiper mySwiper row" style="justify-content:center;text-align:center;">
            <h3 id="serchcnt" style="margin-bottom:50px;">共搜尋到@(Model.Count())個符合</h3>
            <div class="swiper-wrapper" style="text-align: center;">
                
                @foreach (var item in Model)
                {
                    <div class="swiper-slide" productid="@item.ProductId" width="100%" style="border: 5px solid #734226; background-color: #734226 ">
                        <div id="addToList" style="">

                            @{ if (item.product.Photos.Count == 0)
                                {
                                                <img src="~/Images/notfound.jpg" height="300" zoom />
                                }
                                else
                                {
                                                <img src="~/Images/@item.product.Photos.FirstOrDefault(p=>p.IsDefault==true).PictureName" width="300" height="300" />
                                }
                            }
                            <h5 style="color:#fff;">@item.ProductName</h5>
                            <h5 style="color:lightgray">媒合度<span>@item.MatchScore</span>%</h5>
                            @*<i class="fa-solid fa-list-alt" style="color:#EAA636;font-size:20px;">@Html.ActionLink("詳細資料", "petsDetial", "pets", new { id = item.ProductId })</i>*@
                        </div>
                    </div>
                }

            </div>

        </div>

        <div class="form-group m-3" style="text-align: center;" ;>
            <h5 style="color: gray ">滑鼠滑動翻頁</h5>

            <div class="row"  style="justify-content:center;">
                
                <div class="col-3" style="margin-top:100px;">
                    <form action="@Url.Content("~/pets/petsMatch")" method="post" id="formMW">
                        <input type="number" value="@user.MemberId" name="MemberId" hidden />
                        <div class="text-center" style=" align-items: center; justify-content: center;width:450px;">
                            <table class="table table-hover">
                                <tr>
                                    <td>
                                        種類:
                                    </td>
                                    <td>
                                        <select name="CategoryId" id="petCatel" class="sorting mr-auto  dropdown-toggle sel" >
                                            <option value="none" selected disabled hidden>請選擇選項</option>
                                            @{
                                                var qpl = from p in db.Categories where p.IsPet == true select p;
                                                foreach (Category p in qpl.ToList())
                                                {
                                                    if (user.MemberWish == null ? false : (p.CategoryId == user.MemberWish.CategoryId))
                                                    {
                                                                    <option value="@p.CategoryId" selected>@p.CategoryName</option>
                                                    }
                                                    else
                                                    {
                                                                    <option value="@p.CategoryId">@p.CategoryName</option>
                                                    }

                                                }
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        品種:
                                    </td>
                                    <td>
                                        <select id="petSubcatel" name="SubCategoryId" class="sorting mr-auto dropdown-toggle sel" >
                                            <option value="none" selected disabled hidden>請選擇選項</option>
                                            @{
                                                var subcategories = db.SubCategories.Where(sc => sc.CategoryId == (user.MemberWish == null ? 1 : user.MemberWish.CategoryId) || sc.SubCategoryName == "不限").ToList();
                                                foreach (SubCategory s in subcategories.ToList())
                                                {
                                                    if (user.MemberWish == null ? false : (s.SubCategoryId == user.MemberWish.SubCategoryId))
                                                    {
                                                                    <option value="@s.SubCategoryId" selected>@s.SubCategoryName</option>
                                                    }
                                                    else
                                                    {
                                                                    <option value="@s.SubCategoryId">@s.SubCategoryName</option>
                                                    }

                                                }
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        性別:
                                    </td>
                                    <td>
                                        <select class="sorting mr-auto dropdown-toggle sel" name="GenderId" >
                                            <option value="none" selected disabled hidden>請選擇選項</option>
                                            @{
                                                var gender = db.Genders.ToList();
                                                foreach (Gender p in gender)
                                                {
                                                    if (user.MemberWish == null ? false : (p.GenderId == user.MemberWish.GenderId))
                                                    {
                                                                    <option value="@p.GenderId" selected>@p.GenderType</option>
                                                    }
                                                    else
                                                    {
                                                                    <option value="@p.GenderId">@p.GenderType</option>
                                                    }

                                                }
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        毛色:
                                    </td>
                                    <td>
                                        <select class="sorting mr-auto  dropdown-toggle sel" name="ColorId" >
                                            <option value="none" selected disabled hidden>請選擇選項</option>
                                            @{
                                                var color = db.Colors.ToList();
                                                foreach (Color c in color)
                                                {
                                                    if (user.MemberWish == null ? false : (c.ColorId == user.MemberWish.ColorId))
                                                    {
                                                                    <option value="@c.ColorId" selected>@c.ColorName</option>
                                                    }
                                                    else
                                                    {
                                                                    <option value="@c.ColorId">@c.ColorName</option>
                                                    }

                                                }
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        結紮:
                                    </td>
                                    <td>
                                        <select class="sorting mr-auto  dropdown-toggle sel" name="LigationId" >
                                            <option value="none" selected disabled hidden>請選擇選項</option>
                                            @{
                                                var ligation = db.Ligations.ToList();
                                                foreach (Ligation l in ligation)
                                                {
                                                    if (user.MemberWish == null ? false : (l.LigationId == user.MemberWish.LigationId))
                                                    {
                                                                    <option value="@l.LigationId " selected>@l.LigationType</option>
                                                    }
                                                    else
                                                    {
                                                                    <option value="@l.LigationId ">@l.LigationType</option>
                                                    }

                                                }
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        體型:
                                    </td>
                                    <td>
                                        <select class="sorting mr-auto  dropdown-toggle sel" name="SizeId" >
                                            <option value="none" selected disabled hidden>請選擇選項</option>
                                            @{
                                                var size = db.Sizes.ToList();
                                                foreach (Size z in size)
                                                {
                                                    if (user.MemberWish == null ? false : (z.SizeId == user.MemberWish.SizeId))
                                                    {
                                                                    <option value="@z.SizeId " selected>@z.SizeType</option>
                                                    }
                                                    else
                                                    {
                                                                    <option value="@z.SizeId ">@z.SizeType</option>
                                                    }

                                                }
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        年齡層:
                                    </td>
                                    <td>
                                        <select class="sorting mr-auto dropdown-toggle sel" name="AgeId" >
                                            <option value="none" selected disabled hidden>請選擇選項</option>
                                            @{
                                                var age = db.Ages.ToList();
                                                foreach (Age e in age)
                                                {
                                                    if (user.MemberWish == null ? false : (e.AgeId == user.MemberWish.AgeId))
                                                    {
                                                                    <option value="@e.AgeId " selected>@e.AgeType</option>
                                                    }
                                                    else
                                                    {
                                                                    <option value="@e.AgeId ">@e.AgeType</option>
                                                    }

                                                }
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        區域:
                                    </td>
                                    <td>
                                        <select name="CityId" class="sorting mr-auto dropdown-toggle sel" >
                                            <option value="none" selected disabled hidden>請選擇選項</option>
                                            @{
                                                var city = db.Cities.ToList();
                                                foreach (City c in city)
                                                {
                                                    if (user.MemberWish == null ? false : (c.CityId == user.MemberWish.CityId))
                                                    {
                                                                    <option value="@c.CityId" selected>@c.CityName</option>
                                                    }
                                                    else
                                                    {
                                                                    <option value="@c.CityId">@c.CityName</option>
                                                    }

                                                }
                                            }
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <button type="submit" id="btnSumbmitMW" class="btn btn-primary" form="formMW">重新配對</button>
                    </form>
                </div>
                <div  id="divPetDetail" class="col-3"  style=" width:450px; ">

                </div>
            </div>





            <div style="display:flex;justify-content:center;align-items:center;">
                <a class="btn btn-success " href="@Url.Content("~/pets/petsList")" style="flex: none; width: 120px; margin: 10px; align-items: center; justify-content: center ">返回</a>
            </div>
        </div>
    </div>

</body>
<script src="~/js/swipe.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

@section Scripts {

    <script>
        @*function alertlist() {
            let timerInterval
            $.post("@Url.Content("~/pets/WishSaveChange")", $("#formMW").serialize())
            Swal.fire({
                title: '條件修改成功!',
                html: '將在 <b></b> 毫秒後儲存並回寵物首頁',
                timer: 1000,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading()
                    const b = Swal.getHtmlContainer().querySelector('b')
                    timerInterval = setInterval(() => { b.textContent = Swal.getTimerLeft()}, 100);
                    setTimeout(function () { location.href = "/pets/petsList" }, 1000)
                }
            })
        }

        function backpets() {
            let timerInterval
            Swal.fire({
                title: '保存原條件',
                html: '將在 <b></b> 毫秒後回寵物首頁',
                timer: 1000,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading()
                    const a = Swal.getHtmlContainer().querySelector('b')
                    timerInterval = setInterval(() => { a.textContent = Swal.getTimerLeft() }, 100);
                    setTimeout(function () { location.href = "/pets/petsList" }, 1000)
                }
            })
        }*@

        var swiper = new Swiper(".mySwiper", {
            effect: "coverflow",
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: "auto",
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true
            },
            on: {
                slideChange: swiperSlide,
                init:swiperSlide
            },
            pagination: {
                el: ".swiper-pagination",
            },
        });
        function swiperSlide(e)
                {
                    let divSelect = $(".swiper-slide").eq(`${e.activeIndex}`);
                    $.post("@Url.Content("~/pets/petsDetial2")", { id: divSelect.attr("productid"), memberid:@user.MemberId}, function (datas)
                    {
                        $("#divPetDetail").html(datas)
                    })
                }
          $("#petCatel").on('change', function () {
            $.getJSON('@Url.Content("~/pets/petsSubcategory")', { "id":this.value}, (data) => {
                let list = JSON.parse(data);
                let select = $("#petSubcatel")
                select.empty();
                let opt = document.createElement("option");
                opt.value = 0;
                opt.text = "請選擇項目";
                select.append(opt);
                $.each(list, (index, item) => {
                    let opt = document.createElement("option");
                    opt.value = item.SubCategoryId;
                    opt.text = item.SubCategoryName;
                    select.append(opt);
                })
            })
          })
    </script>

}
