<div class="container-fluid  py-6 wow fadeIn" data-wow-delay="0.1s" style=" margin-bottom: 6rem; background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../../img/head-5.jpg) center center no-repeat; background-size: cover;">
    <div class="container text-center pt-5 pb-3">
        <h2 class="display-4 text-white animated slideInDown mb-3">您選擇的志工活動為 @Model.Title</h2>
    </div>
</div>
<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
</div>
<!-- Spinner End -->
<div class="container">
    <section class="section-margin--small mb-5">
        <div id="Info">
            <table style="width:100%">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody class="VInfotbody">
                    <tr>
                        <td><img src="~/img/volunteer/@Model.ActivityPhoto" style="float:left;" /></td>
                        <td rowspan="4"><div id="datepicker">請選擇可服務日期及時段</div></td>
                    </tr>
                    <tr>
                        <td>服務時間 : @Model.StartDate ~ @Model.EndDate</td>
                    </tr>
                    <tr>
                        <td>需求人數 : @Model.PeopleInNeed</td>
                    </tr>
                    <tr>
                        <td>工作內容 : @Model.Description</td>
                    </tr>
                </tbody>
            </table>
            <br /><br />


            <div id="container" style="width:100%">

            </div>
        </div>
    </section>
</div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" @*role="dialog"*@="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog .modal-dialog-scrollable ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">請確認以下資料</h4><br />
                </div>
                <div class="modal-body" style="font-size:24px;">
                    <div id="memberInfo">
                        <span>剩餘人數 : </span><span id="PeopleInNeed"></span><br />
                        <span>會員姓名 : </span><span id="MemberName">@Model.MemberName</span><br />
                        <span>連絡電話 : </span><span id="MemberPhone">@Model.MemberPhone </span><br />
                        <span>電子信箱 : </span><span id="MemberEmail">@Model.MemberEmail </span><br />
                        <span>住    址 : </span><span id="MemberAddress">@Model.MemberAddress </span><br />
                        <span>報名活動 : </span><span id="ActivityName">@Model.Title </span><br />
                        <span id="AllowDate"></span><br />
                        <span id="AllowTime">
                            可參與時段 :<br />
                            <input type="radio" name="time" id="fullDay" value="全天" /><label for="fullDay">全天</label>
                            <input type="radio" name="time" id="morning" value="上午(0900-1200)" /><label for="morning">上午(0900-1200)</label>
                            <input type="radio" name="time" id="afternoon" value="下午(1400-1700)" /><label for="afternoon">下午(1400-1700)</label>
                        </span>
                    </div>
                    <button type="button" id="addFriend" class="bi bi-plus-square-fill" style="border:none; background-color:transparent;" data-dismiss="modal"> 新增同行人員</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default confirm" data-dismiss="modal">儲存</button>
                    <button type="button" class="btn btn-default close" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
    @section Scripts{
        <script>
            let addCnt = 0;
            let addTable = 1;
            let disableDate = [];
            let actDate = [];
            let test = [];
            //datepicker
            let selectedDate = null;
            $(function () {
                $.datepicker.regional['zh-TW'] = {
                    dayNames: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
                    dayNamesMin: ["日", "一", "二", "三", "四", "五", "六"],
                    monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                    monthNamesShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                    prevText: "上月",
                    nextText: "次月",
                    weekHeader: "週"
                };
                function getAllDate() {
                    let start = new Date("@Model.StartDate");
                    let end = new Date("@Model.EndDate");
                    while (start < end) {
                        actDate.push(new Date(start))
                        start.setDate(start.getDate() + 1);
                    }
                }
                getAllDate();

                actDate.map(x => {
                    let mapDate = `${x.getFullYear()}-${x.getMonth() + 1}-${x.getDate()}`
                    $.ajaxSetup({ async: false });
                    $.post('@Url.Content("~/Volunteer/getRegisteredMember")', { dateSelected: mapDate, actID:@Model.ActivityID }, (result) => {
                        if (((@(Model.PeopleInNeed)-result.morning) == 0) && ((@(Model.PeopleInNeed)-result.afternoon) == 0)) {
                            disableDate.push(mapDate)
                        }
                    })
                })
                function disableDates(date) {
                    var dateFormat = $.datepicker.formatDate('yy-m-dd', date);
                    return [disableDate.indexOf(dateFormat) == -1];
                }

                $.datepicker.setDefaults($.datepicker.regional["zh-TW"]);
                $("#datepicker").datepicker({
                    onSelect: (date) => {
                        selectedDate = date;
                        selectDate(new Date(date));
                    },
                    dateFormat: "yy-mm-dd",
                    minDate: new Date("@Model.StartDate"),
                    maxDate: new Date("@Model.EndDate"),
                    beforeShowDay: disableDates
                }).css("font-size", "1.3em");
            });

            //開modal
            let editTarget = "";
            let flag = true;
            function selectDate(date) {
                $.post('@Url.Content("~/Volunteer/getRegisteredMember")', { dateSelected: selectedDate, actID:@Model.ActivityID }, (result) => {
                    $("#PeopleInNeed").html(`上午 : ${@(Model.PeopleInNeed)-result.morning} | 下午 : ${@(Model.PeopleInNeed)-result.afternoon}`)
                })
                let container = $("#container");
                $("#AllowDate").text(`參加日期 : ${date.getFullYear()}/${date.getMonth() + 1}/${date.getDate()}`);
                $("#myModal").modal("show");
                $(".confirm").click(() => {
                    let htmlString = "";
                    htmlString = `<div><h3 style="float:left;">${date.getFullYear()}/${date.getMonth() + 1}/${date.getDate()}</h3><button type='button' class='btn btn-primary edit bi bi-toggle-off' style="margin-left:10px;" id="edit${addTable}">修改</button> <button type='button' class='btn btn-primary delete bi bi-trash' id="del${addTable}">刪除</button><table class='table table-striped activity_table' id="tb${addTable}"><thead class='thead-light'><tr><th>時段</th><th>姓名</th><th>電話</th><th>信箱</th><th>地址</th></tr></thead><tbody></div>`;

                    let checkedTime = $("input[name=time]:checked").val();
                    htmlString += `<tr><td id="time${addTable}">${checkedTime}</td><td id="name${addTable}">${$("#MemberName").text()}</td><td id="phone${addTable}">${$("#MemberPhone").text()}</td><td id="email${addTable}">${$("#MemberEmail").text()}</td><td id="address${addTable}">${$("#MemberAddress").text()}</td></tr>`

                    if (addCnt != 0) {
                        htmlString += `<tr><td id="friend1time${addTable}">${checkedTime}</td>`
                        $.each($(".friend input"), (x, item) => {
                            if (x == 4) {
                                htmlString += `</tr><tr><td id="friend2time${addTable}">${checkedTime}</td>`
                            }
                            htmlString += `<td id="${item.id}${addTable}">${item.value}</td>`;
                        })
                    }

                    htmlString += `</tr></tbody></table><br />`;
                    container.append(htmlString);

                    //移除事件
                    $(".confirm").off("click");
                    $(".edit").off('click');
                    $(".delete").off('click');

                    $("#myModal").modal("hide");
                    $(".friend").remove();

                    //edit,delete
                    $(".edit").click((event) => {
                        let id = event.target.id.replace(/[^0-9]/ig, "");
                        if (flag && editTarget == "") {
                            editTarget = event.target.id;
                            $(`#${event.target.id}`).text("儲存");
                            $(`#${event.target.id}`).removeClass("bi-toggle-off");
                            $(`#${event.target.id}`).addClass("bi-toggle-on");
                            flag = false;

                            $.each($(`#tb${id} td`), (x, item) => {
                                if (x == 0) {
                                    item.innerHTML = `<select id='editTime${id}'><option id="fullDay" value="全天">全天</option><option id="morning" value="上午(0900-1200)">上午(0900-1200)</option><option id="afternoon" value="下午(1400-1700)">下午(1400-1700)</option></select>`;
                                    $(`#editTime${id} option[value="${checkedTime}"]`).attr("selected","selected");
                                } else if (x == 1 || x == 5 || x == 10) {
                                    return;
                                } else {
                                    item.setAttribute("contenteditable", "true");
                                }
                            })
                            $(`#editTime${id} `).change(() => {
                                $(`#friend1time${id}`).text($(`#editTime${id} :selected`).text());
                                $(`#friend2time${id}`).text($(`#editTime${id} :selected`).text());
                            })
                        } else if (!flag && editTarget == event.target.id) {
                            $(`#editTime${id} `).off("change");
                            $(`#${event.target.id}`).text("修改");
                            $(`#${event.target.id}`).removeClass("bi-toggle-on");
                            $(`#${event.target.id}`).addClass("bi-toggle-off");
                            flag = true;
                            $.each($(`#tb${id} td`), (x, item) => {
                                if (x == 0) {
                                    item.innerText = $(`#editTime${id} :selected`).text();
                                } else if (x == 1 || x == 5 || x == 10) {
                                    return;
                                } else {
                                    item.setAttribute("contenteditable", "false");
                                }
                            })
                            editTarget = "";
                        } else {
                            confirm("尚有修改未完成。")
                        }
                    })

                    $(".delete").click((event) => {
                        event.target.parentNode.remove();
                        addTable--;
                    })

                    addCnt = 0;
                    addTable++;
                });
            }
            //關modal
            $(".close").click(() => {
                $(".friend").remove();
                $("#myModal").modal("hide");
                $(".confirm").off("click");
                addCnt = 0;
            })
            $("#addFriend").click(() => {
                addCnt++;
                if (addCnt > 2)
                    return confirm('同行人員限制為兩人。')
                $("#memberInfo").append(`<div class="friend${addCnt} friend"><hr />人員${addCnt}<td><button type='button' class='btn removeBtn${addCnt}' id= 'removeFriend'><i class='bi bi-person-dash-fill'></i></button></td><br />
                                                        姓 名 : <input type="text" id="friend${addCnt}Name" placeholder="人員${addCnt}姓名" value=""/><br />
                                                        連絡電話 :   <input type="text" id="friend${addCnt}Phone" placeholder="電話" value=""/><br />
                                                        電子信箱 :   <input type="text" id="friend${addCnt}Email" placeholder="電子信箱" value=""/><br />
                                                        住 址 :   <input type="text" id="friend${addCnt}Address" placeholder="住址" value=""/><br /></div>`)
                $(".removeBtn1").click(() => {
                    addCnt--;
                    if (addCnt < 0) {
                        addCnt = 0;
                    }
                    $("div .friend1").empty();
                })
                $(".removeBtn2").click(() => {
                    addCnt--;
                    if (addCnt < 0) {
                        addCnt = 0;
                    }
                    $("div .friend2").empty();
                })
            })

        </script>

    }
