@model qqqq.Models.Member

@{
    ViewData["Title"] = "MemberArea0000";
}

<h1>MemberArea0000</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthdayDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthdayDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HgenderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HgenderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerHour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VolunteerHour)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
