@model qqqq.Models.Member


@{
    ViewData["Title"] = "MemberArea";
}



<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="~/css_Q/css/style_A.css">

<body>
    <div class="container-fluid  py-6 wow fadeIn" data-wow-delay="0.1s" style=" margin-bottom: 6rem; background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),url(../img/head-5.jpg) center center no-repeat; background-size: cover;">
        <div class="container text-center pt-5 pb-3">
            <h1 class="display-4 text-white animated slideInDown mb-3">評論訂單</h1>
        </div>
    </div>
    <section class="ftco-section">

        <div class="container">
            <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4" src="@Url.Content($"~/Images/{Model.Photo}")" alt="" width="100" height="100" />
                <h2>@Model.Name</h2>



                <div style="display:flex; margin-left:20%">
                    <div style="float:left">
                        <a class="+1U02e" href="@Url.Content("~/MemberArea/MemberEdoit")">
                            <div class="bfikuD">
                                <i class="fa-solid fa-pen-nib"></i>
                            </div>
                            <div class="DlL0zX">
                                <span class="adF7Xs">會員資料編輯</span>
                            </div>
                        </a>
                    </div>


                    <div style="width:96px">
                        <a class="+1U02e" href="#" id="donelist">
                            <div class="bfikuD">
                                <i class="fa fa-archive" aria-hidden="true"></i>
                            </div>
                            <div class="DlL0zX">
                                <span class="adF7Xs">我的訂單</span>
                            </div>
                        </a>
                    </div>



                    <div style="width:96px">
                        <a class="+1U02e" href="#" id="memFavorite">
                            <div class="bfikuD">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </div>
                            <div class="DlL0zX">
                                <span class="adF7Xs">我的最愛</span>
                            </div>
                        </a>
                    </div>

                    <div style="width:96px">
                        <a class="+1U02e" href="#" id="memPet">
                            <!--todo-->
                            <div class="bfikuD">
                                <i class="fa fa-paw" aria-hidden="true"></i>
                            </div>
                            <div class="DlL0zX">
                                <span class="adF7Xs">已認養寵物</span>
                            </div>
                        </a>
                    </div>

                    <div style="width:96px">
                        <a class="+1U02e" href="#" id="memCommon">
                            <div class="bfikuD">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="DlL0zX">
                                <span class="adF7Xs">我的評價</span>
                            </div>
                        </a>
                    </div>





                    <div style="width:96px">
                        <a class="+1U02e" href="#" id="memVolunteer">
                            <div class="bfikuD">
                                <i class="fa-solid fa-hand-holding-heart"></i>
                            </div>
                            <div class="DlL0zX">
                                <span class="adF7Xs">我的志工</span>
                            </div>
                        </a>
                    </div>

                    @*charles*@
                    <div style="width:96px">
                        <a class="+1U02e" href="#" id="memVActivity">
                            <div class="bfikuD">
                                <i class="bi bi-table"></i>
                            </div>
                            <div class="DlL0zX">
                                <span class="adF7Xs">志工活動</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>


            @*=================================================================================*@


            <div id="viewChange">

            </div>



        </div>
    </section>

    <script src="~/css_Q/js_A/jquery.min.js"></script>
    <script src="~/css_Q/js_A/popper.js"></script>
    <script src="~/css_Q/js_A/bootstrap.min.js"></script>
    <script src="~/css_Q/js_A/main.js"></script>

</body>

@section Scripts{
    <script src="https://kit.fontawesome.com/45dc82861e.js" crossorigin="anonymous"></script>

    <script>
        $("#sendee").click(() => {

            confirm('已將評論送出');
        })

           $.post("@Url.Content("~/MemberArea/mOrder")", {}, function (datas)  { $("#viewChange").html(datas);})

        $("#donelist").click((e) => {
            e.preventDefault();

            $("#viewChange").empty();
            $.post("@Url.Content("~/MemberArea/mOrder")", {}, function (datas)  { $("#viewChange").html(datas);})

        })
        $("#memFavorite").click((e) => {
            e.preventDefault();

            $("#viewChange").empty();
            $.post("@Url.Content("~/MemberArea/mFavorit")", {}, function (datas)  { $("#viewChange").html(datas);})

        })
     

        $("#memPet").click(function (e) {


            e.preventDefault();

            $("#viewChange").empty();
            $.post("@Url.Content("~/MemberArea/mPet")", {}, function (datas) { console.log(datas); $("#viewChange").html(datas); })

        })
        $("#memCommon").click((e) => {
            e.preventDefault();

            $("#viewChange").empty();
            $.post("@Url.Content("~/MemberArea/mCommon")", {}, function (datas)  { $("#viewChange").html(datas);})

             })
        $("#memVolunteer").click((e) => {
            e.preventDefault();

            $("#viewChange").empty();
            $.post("@Url.Content("~/MemberArea/mVolunteer")", {}, function (datas)  { $("#viewChange").html(datas);})

        })

        //charles
        $("#memVActivity").click((e) => {
            e.preventDefault();

            $("#viewChange").empty();
            $.post("@Url.Content("~/MemberArea/mVactivity")", {}, function (datas)  { $("#viewChange").html(datas);})

        })
  //{}是參數



    </script>



}
