@model List<qqqq.ViewModels.CMemvoltView>


<h3 class="h5 mb-4 text-center">我的評論</h3>
<div class="table-wrap">
    <table class="table">
        <thead class="thead-primary">
            <tr>
                <th>序</th>
                <th>活動照片</th>
                <th>協助內容</th>
                @*<th>&nbsp;</th>*@
                <th>日期時程</th>
                <th>時數</th>
                <th>活動狀態</th>
                <th>&nbsp;</th>


            </tr>
        </thead>
        <tbody>
            @{ 我救浪Context db = new 我救浪Context();
                int totalhour = 0;
                foreach (var item in Model)
                {
                    <tr class="alert" role="alert">


                        <td>
                            1
                        </td>

                        <td>
                            <img src="@Url.Content($"~/img/volunteer/{item.ActPhotoName}")" style="width:60px;height:60px;" />

                        </td>
                        <td>
                            <div class="email">
                                <span>@item.ActTital </span>
                                <span>@item.HelpDiscription</span>
                            </div>
                        </td>

                        <td>
                            <div class="email">
                                <span>@item.AllowDate</span>
                                <span>時程表:@item.AllowTime </span>
                            </div>
                        </td>

                        <td>
                            @item.Hour hr
                        </td>

                        <td>
                            @item.Vstaus
                        </td>

                        <td>
                            <div>
                                <form>
                                    <!-- todo 連接 -->
                                    <button class="close" type="button" id="contact" action="@Url.Content("~/contact/contact")">
                                        <span aria-hidden="true"><i class="fas fa-phone"></i></span>
                                        <span>聯繫我們</span>
                                    </button>
                                </form>
                                <div>

                                    <button class="close" type="button" id="list" data-toggle="modal" data-target="#myModal">
                                        <span aria-hidden="true"><i class="fa-solid fa-robot"></i></span>
                                        <span>聯繫智能客服</span>
                                    </button>
                                </div>

                            </div>
                        </td>
                    </tr>



                }

            }
            }
            <tr>
                <td colspan="7" class="text-right ">
                    累計時數:@(Model[0]._vou.Member.Volunteers.Where(v=>v.VstatusId==1).Sum(v=>v.AllowTime.Hour))hr
                </td>
            </tr>
        </tbody>



    </table>
    <!-- The Modal -->

    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">商品評論</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <textarea placeholder="請在此區 評論商品" maxlength="100"></textarea>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="sendee">送出</button>
                </div>

            </div>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>

</script>