@model IEnumerable<qqqq.Models.OrderDetail>


<h3 class="h5 mb-4 text-center">詳細訂單內容</h3>
<div class="table-wrap">

    <table class="table">
        <thead class="thead-primary">
            <tr>
                <th>序</th>
                <th>產品照片</th>
                <th>商品名稱</th>
                @*<th>&nbsp;</th>*@
                <th>單價</th>
                <th>數量</th>
                <th>總價</th>
                @{
                    int counting = 0;
                    foreach (var item in Model)
                    {
                        counting++;
                    } }
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>@($"共有{counting}筆資料")</th>

            </tr>
        </thead>
        <tbody>
            @{ 我救浪Context db = new 我救浪Context();
                int count = 0;
                foreach (var item in Model)
                {
                    count++;
                    <tr class="alert" role="alert">

                        <td>
                            @count

                        </td>
                        @{var photo = db.Photos.Where(p => p.ProductId == item.ProductId).Select(p => p.PictureName).FirstOrDefault();}
                        <td>

                            <img src="@Url.Content($"~/Images/{photo}")" style="width:60px;height:60px;" />

                        </td>
                        <td>
                            <div class="email">
                                <span>@item.Product.ProductName </span>
                                <span>@item.Product.Description</span>
                            </div>
                        </td>
                        @*<td>星等</td>*@
                        <td>   @(String.Format("{0:$#,0}", item.UnitPrice))</td>
                        <td class="quantity">
                            <div class="input-group">
                                @item.Quantity
                                @*<input type="text" name="quantity" class="quantity form-control input-number" value="2" min="1" max="100">*@
                            </div>
                        </td>
                        @{
                            decimal totalPrice = 0;
                            var totalList = db.OrderDetails.Where(x => x.ProductId == item.ProductId && x.OrderId == item.OrderId).Select(y => new { total = y.UnitPrice * y.Quantity }).ToList();
                            foreach (var i in totalList)
                            {
                                totalPrice += (decimal)i.total;
                            }
                        }
                        <td> @(String.Format("{0:$#,0}", totalPrice))</td>
                        <td></td>
                        <td></td>
                        @{ if (item.Order.OrderStatusId == 2)
                            {
                                <td>
                                    <div>
                                        <button hidden class="close commoning" type="button" style="color:gray" id="list" data-toggle="modal" data-target="#myModal" common="@item.ProductId">
                                            <span aria-hidden="true"><i class="fa-solid fa-list"></i></span>
                                            <span>產品評論</span>
                                        </button>
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td >
                                    <div>
                                        <button class="close creatcommon" type="button" style="color:gray" id="list" data-toggle="modal" data-target="#myModal" creatcommon="@item.ProductId">
                                            <span aria-hidden="true"><i class="fa-solid fa-list"></i></span>
                                            <span>產品評論</span>
                                        </button>
                                    </div>
                                </td>
                            } }
                    </tr>
                } }
            <!--=========================================================================================-->



        </tbody>
    </table>
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content ">

                @*Modal Header*@
                <div class="modal-header">
                    <h4 class="modal-title">評論此商品</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                @*Modal body*@
                <div class="modal-body">
                    @*try===================================================================*@

                </div>
                @*Modal footer*@
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="send">送出</button>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    $(".creatcommon").click(function (eve) {

         let creatcommon = $(this).attr("creatcommon");
        console.log(creatcommon);

        eve.preventDefault();


          $.post("@Url.Content("~/MemberArea/mCreatCommondModal")", {

              id: creatcommon

          }, function (datas) {
              $.post("@Url.Content("~/MemberArea/check")", { id: creatcommon }, (result) => {
                  if (result != "") {
                      $(".modal-body").html("<h3 style='color:RED'>以評論過此商品，請至我的評論修改</h3>");
                  } else {
                      $(".modal-body").html(datas);
                  }
              })

          })


        })
</script>
<script>
    $("#send").click(function () {

        let creatcommon = $(".creatcommon").attr("creatcommon");
        let ratingValue = parseInt($('#stars li.selected').last().data('value'), 10);
        let Description = $("textarea[name='Description']").val();

        console.log(creatcommon);
        console.log(ratingValue);
        console.log(Description);



        $.post("@Url.Content("~/MemberArea/CreatCommond")", {
            id: creatcommon,
            Rate: ratingValue,
            Description: Description
        }

        })





    })

</script>