


<h3 class="h5 mb-4 text-center">我的評論</h3>
<div class="table-wrap">
    <table class="table">
        <thead class="thead-primary">
            <tr>
                <th>序</th>
                <th>產品照片</th>
                <th>商品名稱</th>
                @*<th>&nbsp;</th>*@
                <th>單價</th>
                <th>評論</th>
                <th>星等</th>
                <th>&nbsp;</th>


            </tr>
        </thead>
        <tbody>
            <tr class="alert" role="alert">

                <td>
                    1
                    @*<div class="img" style="        background-image: url(~/images/bg_1.jpg);"></div>*@
                </td>

                <td>
                    <img src="~/css_Q/Images/bg_1.jpg" style="width:60px;height:60px;" />

                </td>
                <td>
                    <div class="email">
                        <span>貓砂鏟 </span>
                        <span>規格:粉色  尺寸:L</span>
                    </div>
                </td>
                @*<td>星等</td>*@
                <td>$120</td>

                <td>
                    <div>
                        <textarea style="width:200px;height:60px" readonly></textarea>

                    </div>
                </td>

                <td>
                    <img src="~/Images/memstar.jpg" style="width:100px;height:20px" />
                </td>

                <td>
                    <div>
                        <button class="close" type="button" style="color:gray" id="list" data-toggle="modal" data-target="#myModal">
                            <span aria-hidden="true"><i class="fa-solid fa-list"></i></span>
                            <span>修改評論</span>
                        </button>
                        <div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="fa fa-close"></i></span>
                                <span>刪除評論</span>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- The Modal -->

    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content ">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">評論此商品</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row justify-content-lg-evenly">

                            <div id="star" class="d-flex justify-center " style="width:60px">


                                <img class="mw-100" id="1" src="@Url.Content("~/Images/Common_sad.jpg")"/>
                                <img class="mw-100" id="2" src="@Url.Content("~/Images/Common_sad.jpg")"/>
                                <img class="mw-100" id="3" src="@Url.Content("~/Images/Common_sad.jpg")"/>
                                <img class="mw-100" id="4" src="@Url.Content("~/Images/Common_sad.jpg")"/>
                                <img class="mw-100" id="5" src="@Url.Content("~/Images/Common_sad.jpg")"/>
                            
                            </div>
                        </div>
                        <p>單擊給分,雙擊重新評分</p>
                        <p id="count">請和英雄打招呼</p>

                        <textarea placeholder="請在此區 評論商品" maxlength="100" style="max-width:250px"></textarea>


                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="sendee">送出</button>
                </div>

            </div>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    //評價星等
    let flag = true;

    $("#star img").hover(function () {
        if (flag) {
            console.log("AAA");
            $(this).attr("src", "@Url.Content("~/Images/Common_hi.jpg")").prevAll().attr("src", "@Url.Content("~/Images/Common_hi.jpg")");
            let count = $(this).index() + 1;
            $("#count").text(`有${count}個英雄跟你打招呼`);
        }
    },
        function () {
            if (flag) {
                $("#star img").attr("src", "@Url.Content("~/Images/Common_sad.jpg")");
                $("#count").text(`你正在決定會有幾位英雄跟你打招呼`);
            }
        })


    $("#star img").click(function () {
        flag = false;
    })

    $("#star img").dblclick(function () {
        flag = true
    });

</script>