@*photo*@
<link rel="stylesheet" href="../assets/css/docs.theme.min.css">
<link rel="stylesheet" href="../assets/owlcarousel/assets/owl.carousel.min.css">
<link rel="stylesheet" href="../assets/owlcarousel/assets/owl.theme.default.min.css">
<!-- javascript -->
<script src="../assets/vendors/jquery.min.js"></script>
<script src="../assets/owlcarousel/owl.carousel.js"></script>
@model List<qqqq.ViewModels.CProductShow>

@{
    ViewData["Title"] = "petsMatch";
    qqqq.Models.我救浪Context db = new 我救浪Context();
    

}
<style>
        html,
        body {
            position: relative;
            height: 100%;
        }

        body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
            user-select: none;
        }

        .swiper {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 400px;
            height: 400px;
        }

            .swiper-slide img {
                display: block;
                width: 100%;
            }
</style>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item  active" data-bs-interval="2000">
            <a style="height:100%" href="/Volunteer/Index"><img src="~/img/p首頁/volunteer.jpg" class="d-block vw-100"></a>
            <div class="carousel-caption d-md-block">
                @*<h1 id="titleh1">First slide label</h1>
                <p>Some representative placeholder content for the first slide.</p>*@
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <a style="height:100%" href="/shopping/shopping"><img src="~/img/p首頁/product.jpg" class="d-block vw-100"></a>
            <div class="carousel-caption d-md-block">
                @*<h1 id="titleh1">First slide label</h1>
                <p>Some representative placeholder content for the first slide.</p>*@
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <a style="height:100%" href="/pest/petsList"><img src="~/img/p首頁/pet.png" class="d-block vw-100"></a>
            <div class="carousel-caption d-md-block">
                @*<h1 id="titleh1">First slide label</h1>
                <p>Some representative placeholder content for the first slide.</p>*@
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="bi bi-chevron-left fa-5x " style="color:#EAA636" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="bi bi-chevron-right fa-5x" style="color:#EAA636" aria-hidden="true"></span>
            <span class="visually-hidden ">Next</span>
        </button>
    </div>
   
</div>


<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="fact-item bg-light rounded text-center h-100 p-5">
                    <i class="fa fa-solid fa-dog fa-4x text-primary mb-4"></i>
                    <p class="mb-2">正在找家的狗</p>
                            <h1 class="display-5 mb-0" data-toggle="counter-up">@db.Products.Where(p => p.IsPet == true&&p.Continued==true&&p.SubCategory.CategoryId==2 ).Count()</h1>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.3s">
                <div class="fact-item bg-light rounded text-center h-100 p-5">
                    <i class="fa fa-solid fa-cat fa-4x text-primary mb-4"></i>
                    <!--<i>
                        <img src="~/img/cat.png" style="margin-bottom:20px" />
                    </i>-->
                    <p class="mb-2">正在找家的貓</p>
                    <h1 class="display-5 mb-0" data-toggle="counter-up">@db.Products.Where(p => p.IsPet == true && p.Continued == true && p.SubCategory.CategoryId == 3).Count()</h1>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="fact-item bg-light rounded text-center h-100 p-5">
                    <i class="fa fa-users fa-4x text-primary mb-4"></i>
                    <p class="mb-2">正在配對的會員</p>
                    <h1 class="display-5 mb-0" data-toggle="counter-up">@db.Members.Count()</h1>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.7s">
                <div class="fact-item bg-light rounded text-center h-100 p-5">
                    <i class="fa fa-solid fa-house fa-4x text-primary mb-4"></i>
                    <p class="mb-2">每年平均配對</p>
                    <h1 class="display-5 mb-0" data-toggle="counter-up">135</h1><i class=""></i>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="demos">
    <div class="row">
        <div class="large-12 columns pl-3">
            @*<marquee><h1>正在找家的毛孩們</h1></marquee>*@
            <div class="owl-carousel">
                @foreach (var item in Model)
                {
                    <div class="swiper-slide" style="width:300px;height:350px;">

                        <div id="addToList" style="background-color: #734226;text-align:center " >

                            @{ if (item.Photos.Count == 0)
                                {
                                    <img src="/Images/notfound.jpg" width="300" height="300" zoom />
                                }
                                else
                                {
                                    <img src="/Images/@item.Photos.FirstOrDefault(p=>p.IsDefault==true).PictureName" width="300" height="300" />
                                }
                            }
                            <h5 style="color:#fff;">@item.ProductName</h5>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- About Start -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row img-twice position-relative h-100">
                    <div class="col-6">
                        <img class="img-fluid rounded" src="~/img/family1.jpg" alt="">
                    </div>
                    <div class="col-6 align-self-end">
                        <img class="img-fluid rounded" src="~/img/family2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h3 class="text-primary text-uppercase mb-2">//成立宗旨</h3>
                    <h1 class="display-6 mb-4">我們願意為浪浪多做一份努力</h1>
                    <h5>
                        一般人在面對街頭流浪動物時，第一眼的感覺會報以同情的眼光，但絕少會主動伸出援手來幫助牠們，以致街頭流浪動物數目與日俱增，在此同時，是否也代表著人類對於不同形式的生命愈來愈不重視，這種現象是人類文明進步的產物，抑或是人類之善念已被文明的進步所湮滅。
                        宣導尊重生命及愛護動物的觀念，督促政府以人道方式解決流浪動物造成的社會及環境問題，提升台灣國際形象，使動物免於流浪及虐待，直到街上沒有流浪動物為止。
                    </h5>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Product Start -->
<div class="container-xxl bg-light my-6 py-6 pt-0">
    <div class="container">
        <div class="bg-primary text-light rounded-bottom p-5 my-6 mt-0 wow fadeInUp" data-wow-delay="0.1s">
            <div class="row g-4 align-items-center">
                <div class="col-lg-6">
                    <h1 class="display-4 text-light mb-0" href="shopping.html">我救浪<br />嚴選商品</h1>
                </div>
                <div class="col-lg-6 text-lg-end">
                    <div class="d-inline-flex align-items-center text-start">
                        <i class="fa fa-phone-alt fa-4x flex-shrink-0"></i>
                        <div class="ms-4">
                            <p class="fs-5 fw-bold mb-0">連絡電話:</p>
                            <p class="fs-1 fw-bold mb-0">+012 345 6789</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h3 class="text-primary text-uppercase mb-2">//關於產品</h3>
            <h1 class="display-6 mb-4">從源頭把關食品用品安全，滿足毛孩也保毛孩健康</h1>
        </div>
        <div class="row g-4">
            @{
                var list = db.Products.Where(p => p.IsPet == false).ToList();
                int totalCount = list.Count;
                for (int i = 0; i < 4; i++)
                {
                    Random r = new Random(DateTime.Now.Millisecond);
                    int index = r.Next(0, totalCount);
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100">
                            <div class="text-center p-4">
                                <div class="d-inline-block border border-primary rounded-pill px-3 mb-3">$@(((decimal)list[index].Price).ToString("#"))元</div>
                                <h3 class="mb-3">@(list[index].ProductName)</h3>
                            </div>
                            <div class="position-relative mt-auto">
                                <img class="img-fluid" src="~/Images/@(list[index].Photos.Count==0?null:list[index].Photos.Where(ph=>ph.IsDefault==true).FirstOrDefault().PictureName)" alt="">
                                <div class="product-overlay">
                                    <a class="btn btn-lg-square btn-outline-light rounded-circle" href="~/shopping/showproduct/@(list[index].ProductId)"><i class="fa fa-eye text-primary"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    list.RemoveAt(index);
                    totalCount--;
                }

            }
        </div>
    </div>
</div>
<!-- Product End -->
<!-- Service Start -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h3 class="text-primary text-uppercase mb-2">// 熱心志工團隊</h3>
                <h1 class="display-6 mb-4">我們提供的協助</h1>
                <p class="mb-5">
                    強化動物保護教育及法令觀念，同時擴增動物照護人力、提升收容動物福利，與精進為民服務品
                    質，廣徵熱心公益及具愛護動物觀念之民眾，協助執行收容動物照護及推
                    廣動物認養工作，並依據志願服務法、動物保護法第23條等相關規定，召
                    募長期固定志願服務
                </p>
                <div class="row gy-5 gx-4">
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-solid fa-dog text-white"></i>
                            </div>
                            <h5 class="mb-0">​接送志工</h5>
                        </div>
                        <span>專車接送犬隻往返醫院絕育、原地放回及交還飼主。</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-solid fa-cat text-white"></i>
                            </div>
                            <h5 class="mb-0">​園區掃除志工</h5>
                        </div>
                        <span>我們非常注重中途站的傳染病防疫，幫助營造一個安全的絕育、休養環境，歡迎您的加入！</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-users text-white"></i>
                            </div>
                            <h5 class="mb-0">家訪志工</h5>
                        </div>
                        <span>家戶訪查，找出放養貓狗，並說明飼主寵物絕育之重要,並協助安排後續流程。</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-solid fa-house text-white"></i>
                            </div>
                            <h5 class="mb-0">跨海認養</h5>
                        </div>
                        <span> 由搭機由台灣直飛美加的愛心旅客擔任「護犬大使」，以附加行李的方式護送這些貓狗出國，前往地球另一端的新家。</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="row img-twice position-relative h-100">
                    <div class="col-6">
                        <img class="img-fluid rounded" src="~/img/ser1.jpg" alt="">
                    </div>
                    <div class="col-6 align-self-end">
                        <img class="img-fluid rounded" src="~/img/ser2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
@section scripts{
    <script>
        $(document).ready(function () {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                items: 4,
                loop: true,
                //margin: 10,
                autoplay: true,
                autoplayTimeout: 1000,
                autoplayHoverPause: true
            });
            //$('.play').on('click', function () {
            //    owl.trigger('play.owl.autoplay', [1000])
            //})
            //$('.stop').on('click', function () {
            //    owl.trigger('stop.owl.autoplay')
            //})
        })
        //var swiper = new Swiper(".mySwiper", {
        //    effect: "coverflow",
        //    grabCursor: true,
        //    centeredSlides: true,
        //    slidesPerView: "auto",
        //    coverflowEffect: {
        //        rotate: 50,
        //        stretch: 0,
        //        depth: 100,
        //        modifier: 1,
        //        slideShadows: true,
        //    },
        //    pagination: {
        //        el: ".swiper-pagination",
        //    },
        //});
    </script>

}